openapi: 3.0.0
info:
  description: Connect brokerage accounts to your app for live positions and trading
  version: 1.0.0
  title: SnapTrade
  termsOfService: N/A
  contact:
    email: api@snaptrade.com
  x-konfig-ignore:
    potential-incorrect-type: true
  x-readme:
    explorer-enabled: false
servers:
  - description: SnapTrade Production API
    url: https://api.snaptrade.com/api/v1
security:
  - PartnerSignature: []
    PartnerClientId: []
    PartnerTimestamp: []
tags:
  - name: API Status
    description: Check whether the API is operational and verify timestamps.
  - name: Authentication
    description: Register and authenticate users with SnapTrade.
  - name: Connections
    description: Retrieve and manage user connections.
  - name: Account Information
    description: Retrieve account information, such as positions, balances, etc.
  - name: Transactions And Reporting
    description: Retrieve information on account transactions, performance, dividends, contributions, etc.
  - name: Trading
    description: Manage orders on user accounts.
  - name: Reference Data
    description: Retrieve basic information for API use, such as supported brokerages, exchanges, currencies, etc.
  - name: Webhooks
    description: Reach out directly to SnapTrade to enable webhooks in order to be notified when certain events occur.
  - name: Options
    description: Endpoints to search for options prices and chains as well as place options trades if supported.
paths:
  /:
    get:
      tags:
        - API Status
      summary: Get API Status
      description: Check whether the API is operational and verify timestamps.
      operationId: ApiStatus_check
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
        default:
          description: Unexpected Error
  /snapTrade/listUsers:
    get:
      tags:
        - Authentication
      summary: List all users
      operationId: Authentication_listSnapTradeUsers
      description: Returns a list of all registered user IDs. Please note that the response is not currently paginated.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserList"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/404FailedRequestResponse"
        "500":
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  /snapTrade/registerUser:
    post:
      tags:
        - Authentication
      summary: Register user
      description: |
        Registers a new SnapTrade user under your Client ID. A user secret will be automatically generated for you and must be properly stored in your system.
        Most SnapTrade operations require a user ID and user secret to be passed in as parameters.
      operationId: Authentication_registerSnapTradeUser
      requestBody:
        $ref: "#/components/requestBodies/RegisterUserRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserIDandSecret"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/404FailedRequestResponse"
        "500":
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  /snapTrade/deleteUser:
    delete:
      tags:
        - Authentication
      summary: Delete user
      operationId: Authentication_deleteSnapTradeUser
      description: Deletes a registered user and all associated data. This action is irreversible. This API is asynchronous and will return a 200 status code if the request is accepted. The user and all associated data will be queued for deletion. Once deleted, a `USER_DELETED` webhook will be sent.
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteUserResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FailedRequestResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/404FailedRequestResponse"
        "500":
          description: Unexpected Error
  /snapTrade/login:
    post:
      tags:
        - Authentication
      summary: Login user & generate connection link
      operationId: Authentication_loginSnapTradeUser
      description: Logs in a SnapTrade user and returns an authenticated connection portal URL for them to use to connect a brokerage account.
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      requestBody:
        $ref: "#/components/requestBodies/SnapTradeLoginUserRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/LoginRedirectURI"
                  - $ref: "#/components/schemas/encryptedResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FailedRequestResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/404FailedRequestResponse"
        "500":
          description: Unexpected Error
  /snapTrade/resetUserSecret:
    post:
      tags:
        - Authentication
      summary: Rotate user secret
      description: |
        Rotates the secret for a SnapTrade user. You might use this if `userSecret` is compromised. Please note that if you call this endpoint and fail to save the new secret, you'll no longer be able to access any data for this user, and your only option will be to delete and recreate the user, then ask them to reconnect.
      operationId: Authentication_resetSnapTradeUserSecret
      requestBody:
        $ref: "#/components/requestBodies/ResetUserSecretRequestBody"
      responses:
        "200":
          description: New user secret is generated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserIDandSecret"
        "400":
          description:
            Bad Request. Could be caused by various reasons. Error message is
            provided in response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "401":
          description: Failed authentication. Wrong clientId, userId or userSecret provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/401FailedRequestResponse"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  /snapTrade/partners:
    get:
      tags:
        - Reference Data
      summary: Get metadata related to Snaptrade partner
      description: Returns useful data related to the specified ClientID, including allowed brokerages and data access.
      operationId: ReferenceData_getPartnerInfo
      parameters: []
      responses:
        "200":
          description:
            Successfully obtained encrypted JWT data. See description on how to
            object JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartnerData"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/401FailedRequestResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/404FailedRequestResponse"
        "500":
          description: Unexpected Error
  /holdings:
    get:
      deprecated: true
      tags:
        - Account Information
      summary:
        List all accounts for the user, plus balances, positions, and orders for each
        account.
      description: |
        **Deprecated, please use the account-specific holdings endpoint instead.**

        List all accounts for the user, plus balances, positions, and orders for each
        account.
      operationId: AccountInformation_getAllUserHoldings
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: query
          required: false
          name: brokerage_authorizations
          description:
            Optional. Comma separated list of authorization IDs (only use if
            filtering is needed on one or more authorizations).
          schema:
            type: string
            format: uuid
            example: 917c8734-8470-4a3e-a18f-57c3f2ee6631
      responses:
        "200":
          description: Returns list of accounts and holdings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AccountHoldings"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FailedRequestResponse"
        "500":
          description: Unexpected Error
  /accounts/{accountId}/holdings:
    get:
      tags:
        - Account Information
      summary: List account holdings
      description: |
        Returns a list of balances, positions, and recent orders for the specified account. The data returned is similar to the data returned over the more fine-grained [balances](/reference/Account%20Information/AccountInformation_getUserAccountBalance), [positions](/reference/Account%20Information/AccountInformation_getUserAccountPositions) and [orders](/reference/Account%20Information/AccountInformation_getUserAccountOrders) endpoints. __The finer-grained APIs are preferred. They are easier to work with, faster, and have better error handling than this coarse-grained API.__

        The data returned here is cached. How long the data is cached for varies by brokerage. Check the [brokerage integrations doc](https://snaptrade.notion.site/66793431ad0b416489eaabaf248d0afb?v=d16c4c97b8d5438bbb2d8581ac53b11e) and look for "Cache Expiry Time" to see the exact value for a specific brokerage. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      operationId: AccountInformation_getUserHoldings
      parameters:
        - in: path
          required: true
          name: accountId
          schema:
            $ref: "#/components/schemas/AccountID"
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountHoldingsAccount"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FailedRequestResponse"
        "500":
          description: Unexpected Error
  /accounts:
    get:
      tags:
        - Account Information
      summary: List accounts
      description: |
        Returns all brokerage accounts across all connections known to SnapTrade for the authenticated user.

        The data returned here is always cached and refreshed once a day. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      operationId: AccountInformation_listUserAccounts
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                description: List of brokerage accounts across all connections.
                type: array
                items:
                  $ref: "#/components/schemas/Account"
        default:
          description: Unexpected error.
  "/accounts/{accountId}":
    get:
      tags:
        - Account Information
      summary: Get account detail
      description: |
        Returns account detail known to SnapTrade for the specified account.

        The data returned here is always cached and refreshed once a day. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      operationId: AccountInformation_getUserAccountDetails
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          required: true
          name: accountId
          schema:
            $ref: "#/components/schemas/AccountID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        default:
          description: Unexpected error
    put:
      tags:
        - Account Information
      summary: Update details of an investment account
      description: Updates various properties of a specified account.
      operationId: AccountInformation_updateUserAccount
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          description: The ID of the account to update.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Successfully updated details of an investment account
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Account"
        default:
          description: Unexpected error
  /accounts/{accountId}/balances:
    get:
      tags:
        - Account Information
      summary: List account balances
      operationId: AccountInformation_getUserAccountBalance
      description: |
        Returns a list of balances for the account. Each element of the list has a distinct currency. Some brokerages like Questrade [allows holding multiple currencies in the same account](https://www.questrade.com/learning/questrade-basics/balances-and-reports/understanding-your-account-balances).

        The data returned here is cached. How long the data is cached for varies by brokerage. Check the [brokerage integrations doc](https://snaptrade.notion.site/66793431ad0b416489eaabaf248d0afb?v=d16c4c97b8d5438bbb2d8581ac53b11e) and look for "Cache Expiry Time" to see the exact value for a specific brokerage. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          schema:
            $ref: "#/components/schemas/AccountID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Balance"
        default:
          description: Unexpected error
  /accounts/{accountId}/positions:
    get:
      tags:
        - Account Information
      summary: List account positions
      description: |
        Returns a list of stock/ETF/crypto/mutual fund positions in the specified account. For option positions, please use the [options endpoint](/reference/Options/Options_listOptionHoldings).

        The data returned here is cached. How long the data is cached for varies by brokerage. Check the [brokerage integrations doc](https://snaptrade.notion.site/66793431ad0b416489eaabaf248d0afb?v=d16c4c97b8d5438bbb2d8581ac53b11e) and look for "Cache Expiry Time" to see the exact value for a specific brokerage. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      operationId: AccountInformation_getUserAccountPositions
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          schema:
            $ref: "#/components/schemas/AccountID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Position"
        default:
          description: Unexpected error
  /accounts/{accountId}/orders:
    get:
      tags:
        - Account Information
      summary: List account recent orders
      operationId: AccountInformation_getUserAccountOrders
      description: |
        Returns a list of recent orders in the specified account.

        The data returned here is cached. How long the data is cached for varies by brokerage. Check the [brokerage integrations doc](https://snaptrade.notion.site/66793431ad0b416489eaabaf248d0afb?v=d16c4c97b8d5438bbb2d8581ac53b11e) and look for "Cache Expiry Time" to see the exact value for a specific brokerage. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: query
          name: state
          description: defaults value is set to "all"
          schema:
            type: string
            enum:
              - all
              - open
              - executed
        - in: query
          name: days
          description: Number of days in the past to fetch the most recent orders. Defaults to the last 30 days if no value is passed in.
          schema:
            type: integer
            format: int32
            minimum: 1
            example: 30
        - in: path
          name: accountId
          required: true
          schema:
            $ref: "#/components/schemas/AccountID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AccountOrderRecord"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  "/accounts/{accountId}/quotes":
    get:
      tags:
        - Trading
      summary: Get symbol quotes
      description: Returns quote(s) from the brokerage for the specified symbol(s).
      operationId: Trading_getUserAccountQuotes
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: query
          name: symbols
          required: true
          description: List of universal_symbol_id or tickers to get quotes for.
          schema:
            type: string
        - in: query
          name: use_ticker
          description: Should be set to True if providing tickers.
          schema:
            type: boolean
        - in: path
          name: accountId
          required: true
          description: The ID of the account to get quotes.
          schema:
            type: string
            format: uuid
            example: 917c8734-8470-4a3e-a18f-57c3f2ee6631
      responses:
        "200":
          description: Returns quotes object with different prices
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SymbolsQuotes"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  "/accounts/{accountId}/orders/cancel":
    post:
      tags:
        - Trading
      summary: Cancel open order in account
      description: |
        Sends a signal to the brokerage to cancel the specified order.
        This will only work if the order has not yet been executed.
      operationId: Trading_cancelUserAccountOrder
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          description: The ID of the account to cancel the order in.
          schema:
            type: string
            format: uuid
            example: 917c8734-8470-4a3e-a18f-57c3f2ee6631

      requestBody:
        $ref: '#/components/requestBodies/CancelOrderRequestBody'


      responses:
        "200":
          description: Order Record of canceled order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountOrderRecord"
        "400":
          description:
            Unable to cancel open order. Please verify status in brokerage
            account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  "/accounts/{accountId}/symbols":
    post:
      tags:
        - Reference Data
      summary:
        Search for symbols available in an account
      description: |
        Returns a list of universal symbols that are supported by
        the specificied account. Returned symbols are based on the
        provided search string, matching on ticker and name.
      operationId: ReferenceData_symbolSearchUserAccount
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          description: The ID of the account to search for symbols within.
          schema:
            type: string
            format: uuid
            example: 917c8734-8470-4a3e-a18f-57c3f2ee6631
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SymbolQuery"
      responses:
        "200":
          description:
            List of universal symbol supported by account based on substring
            sent it
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UniversalSymbol"
        default:
          description: Unexpected error
  "/accounts/{accountId}/options":
    get:
      tags:
        - Options
      summary: List account option positions
      description: |
        Returns a list of option positions in the specified account. For stock/ETF/crypto/mutual fund positions, please use the [positions endpoint](/reference/Account%20Information/AccountInformation_getUserAccountPositions).

        The data returned here is cached. How long the data is cached for varies by brokerage. Check the [brokerage integrations doc](https://snaptrade.notion.site/66793431ad0b416489eaabaf248d0afb?v=d16c4c97b8d5438bbb2d8581ac53b11e) and look for "Cache Expiry Time" to see the exact value for a specific brokerage. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      operationId: Options_listOptionHoldings
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          schema:
            $ref: "#/components/schemas/AccountID"
      responses:
        "200":
          description: OK
          content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: "#/components/schemas/OptionsPosition"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  "/accounts/{accountId}/optionsChain":
    get:
      tags:
        - Options
      summary: Get the options chain for a symbol
      description: Returns the option chain for the specified symbol in the specified account.
      operationId: Options_getOptionsChain
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          description: The ID of the account to get the options chain from.
          schema:
            type: string
            format: uuid
        - in: query
          name: symbol
          required: true
          description: Universal symbol ID if symbol
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: List of all Options available for the brokerage symbol
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OptionChain"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  "/accounts/{accountId}/optionStrategy":
    post:
      tags:
        - Options
      summary: Create options strategy
      description: |
        Creates an option strategy object that will be used to place an option strategy order.
      operationId: Options_getOptionStrategy
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          description: The ID of the account to create the option strategy object in.
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: "#/components/requestBodies/OptionStrategyRequestBody"

      responses:
        "200":
          description: Order Quotes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StrategyQuotes"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"


  /accounts/{accountId}/optionStrategy/{optionStrategyId}:
    get:
      tags:
        - Options
      summary: Get options strategy quotes
      description: |
        Returns a Strategy Quotes object which has latest market data of the specified option strategy.
      operationId: Options_getOptionsStrategyQuote
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          description: The ID of the account the strategy will be placed in.
          schema:
            type: string
            format: uuid
        - in: path
          required: true
          name: optionStrategyId
          description: Option strategy id obtained from response when creating option strategy object
          schema:
            $ref: "#/components/schemas/Id"
      responses:
        "200":
          description: Order Quotes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StrategyQuotes"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"

  "/accounts/{accountId}/optionStrategy/{optionStrategyId}/execute":
    post:
      tags:
        - Options
      summary: Place an option strategy order
      description: Places the option strategy order and returns the order record received from the brokerage.
      operationId: Options_placeOptionStrategy
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          description: The ID of the account to execute the strategy in.
          schema:
            $ref: "#/components/schemas/Id"
        - in: path
          name: optionStrategyId
          required: true
          description: Option strategy id obtained from response when creating option strategy object
          schema:
            $ref: "#/components/schemas/Id"
      requestBody:
        $ref: "#/components/requestBodies/OrderStrategyExecuteBody"

      responses:
        "200":
          description: Status of strategy order placed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StrategyOrderRecord"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  "/authorizations":
    get:
      tags:
        - Connections
      summary: List all connections
      description: |
        Returns a list of all connections for the specified user. Note that `Connection` and `Brokerage Authorization` are interchangeable, but the term `Connection` is preferred and used in the doc for consistency.

        A connection is usually tied to a single login at a brokerage. A single connection can contain multiple brokerage accounts.

        SnapTrade performs de-duping on connections for a given user. If the user has an existing connection with the brokerage, when connecting the brokerage with the same credentials, SnapTrade will return the existing connection instead of creating a new one.
      operationId: Connections_listBrokerageAuthorizations
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                description: A list of all connections for the specified user.
                type: array
                items:
                  $ref: "#/components/schemas/BrokerageAuthorization"
        default:
          description: Unexpected error.
  "/authorizations/{authorizationId}":
    get:
      tags:
        - Connections
      summary: Get connection detail
      description: Returns a single connection for the specified ID.
      operationId: Connections_detailBrokerageAuthorization
      parameters:
        - in: path
          name: authorizationId
          required: true
          schema:
            $ref: "#/components/schemas/BrokerageAuthID"
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrokerageAuthorization"
        default:
          description: Unexpected error.
    delete:
      tags:
        - Connections
      summary: Delete connection
      description: Deletes the connection specified by the ID. This will also delete all accounts and holdings associated with the connection. This action is irreversible. This endpoint is synchronous, a 204 response indicates that the connection has been successfully deleted.
      operationId: Connections_removeBrokerageAuthorization
      parameters:
        - in: path
          name: authorizationId
          required: true
          schema:
            $ref: "#/components/schemas/BrokerageAuthID"
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "204":
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
        default:
          description: Unexpected error
  "/authorizations/{authorizationId}/refresh":
    post:
      tags:
        - Connections
      summary: Refresh holdings for a connection
      description: |
        Trigger a holdings update for all accounts under this connection. Updates will be queued asynchronously. [`ACCOUNT_HOLDINGS_UPDATED` webhook](https://docs.snaptrade.com/docs/webhooks#webhooks-account_holdings_updated) will be sent once the sync completes for each account under the connection.
        
        *Please contact support for access as this endpoint is not enabled by default.*
      operationId: Connections_refreshBrokerageAuthorization
      parameters:
        - in: path
          name: authorizationId
          required: true
          schema:
            $ref: "#/components/schemas/BrokerageAuthID"
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrokerageAuthorizationRefreshConfirmation"
        "401":
          description: Unauthorized, invalid credentials for this resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/401FailedRequestResponse"
        "402":
          description: Unable to sync with brokerage account because the connection is disabled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/402BrokerageAuthDisabledResponse"
        "403":
          description: Customer or user does not have access to this feature
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FeatureNotEnabledResponse"
        "404":
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/404FailedRequestResponse"
  "/authorizations/{authorizationId}/disable":
    post:
      tags:
        - Connections
      summary: Force disable connection
      description: |
        Manually force the specified connection to become disabled. This should only be used for testing a reconnect flow, and never used on production connections.
        Will trigger a disconnect as if it happened naturally, and send a [`CONNECTION_BROKEN` webhook](https://docs.snaptrade.com/docs/webhooks#webhooks-connection_broken) for the connection.
        
        *Please contact us in order to use this endpoint as it is disabled by default.*
      operationId: Connections_disableBrokerageAuthorization
      parameters:
        - in: path
          name: authorizationId
          required: true
          schema:
            $ref: "#/components/schemas/BrokerageAuthID"
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrokerageAuthorizationDisabledConfirmation"
        "401":
          description: Unauthorized, invalid credentials for this resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/401FailedRequestResponse"
        "402":
          description: Unable to sync with brokerage account because the connection is disabled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/402BrokerageAuthAlreadyDisabledException"
        "403":
          description: Customer or user does not have access to this feature
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FeatureNotEnabledResponse"
        "404":
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/404FailedRequestResponse"

  "/sessionEvents":
    get:
      tags:
        - Connections
      summary: Get all session events for a user
      description: Returns a list of session events associated with a user.
      operationId: Connections_sessionEvents
      parameters:
        - in: query
          required: true
          name: PartnerClientId
          schema:
            $ref: "#/components/schemas/ClientID"
        - in: query
          required: false
          name: userId
          description: Optional comma separated list of user IDs used to filter the
            request on specific users
          schema:
            $ref: "#/components/schemas/AccountIDs"
        - in: query
          required: false
          name: sessionId
          description: Optional comma separated list of session IDs used to filter the
            request on specific users
          schema:
            $ref: "#/components/schemas/AccountIDs"
      responses:
        "200":
          description: A list of all Session Events for the Partner.
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                  - $ref: "#/components/schemas/SessionEvent"
        default:
          description: Unexpected error.
  "/brokerages":
    get:
      tags:
        - Reference Data
      summary: Get brokerages
      description: Returns a list of all defined Brokerage objects.
      operationId: ReferenceData_listAllBrokerages
      parameters: []
      responses:
        "200":
          description: A list of all defined Brokerage objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Brokerage"
        default:
          description: Unexpected error.
  "/brokerageAuthorizationTypes":
    get:
      tags:
        - Reference Data
      summary: Get all brokerage authorization types
      description: Returns a list of all defined Brokerage authorization Type objects.
      operationId: ReferenceData_listAllBrokerageAuthorizationType
      parameters:
        - in: query
          required: false
          name: brokerage
          schema:
            type: string
            example: QUESTRADE,ALPACA
          description: Comma separated value of brokerage slugs
      responses:
        "200":
          description: A list of all defined Brokerage Authorization Type objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BrokerageAuthorizationTypeReadOnly"
        default:
          description: Unexpected error.
  /currencies:
    get:
      tags:
        - Reference Data
      summary: Get currencies
      description: Returns a list of all defined Currency objects.
      operationId: ReferenceData_listAllCurrencies
      parameters: []
      responses:
        "200":
          description: A list of all currencies.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Currency"
        default:
          description: Unexpected error.
  /currencies/rates:
    get:
      tags:
        - Reference Data
      summary: Get currency exchange rates
      description: Returns a list of all Exchange Rate Pairs for all supported Currencies.
      operationId: ReferenceData_listAllCurrenciesRates
      parameters: []
      responses:
        "200":
          description: A list of all exchange rates pairs for supported currencies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ExchangeRatePairs"
  /currencies/rates/{currencyPair}:
    get:
      tags:
        - Reference Data
      summary: Get exchange rate of a currency pair
      description: Returns an Exchange Rate Pair object for the specified Currency Pair.
      operationId: ReferenceData_getCurrencyExchangeRatePair
      parameters:
        - in: path
          name: currencyPair
          required: true
          description: A currency pair based on currency code for example, {CAD-USD}
          schema:
            type: string
      responses:
        "200":
          description: A list of all exchange rates pairs for supported currencies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeRatePairs"
  /exchanges:
    get:
      tags:
        - Reference Data
      summary: Get exchanges
      description: Returns a list of all supported Exchanges.
      operationId: ReferenceData_getStockExchanges
      parameters: []
      responses:
        "200":
          description: A list of all supported stock exchanges
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Exchange"
  /securityTypes:
    get:
      tags:
        - Reference Data
      summary: List of all security types
      operationId: ReferenceData_getSecurityTypes
      description: List security types available on SnapTrade.
      parameters: []
      responses:
        "200":
          description: A list of all defined Security Type objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SecurityType"
        default:
          description: Unexpected error.
  /symbols:
    post:
      tags:
        - Reference Data
      summary: Search for symbols
      description: |
        Returns a list of Universal Symbol objects that match a defined string.

        Matches on ticker or name.
      operationId: ReferenceData_getSymbols
      parameters: []
      responses:
        "200":
          description: A list of UniversalSymbol objects which match the specified substring
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UniversalSymbol"
        default:
          description: Unexpected error.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SymbolQuery"
  /symbols/{query}:
    get:
      tags:
        - Reference Data
      summary: Get details of a symbol
      description: Returns the Universal Symbol object specified by the ticker or the universal_symbol_id.
      operationId: ReferenceData_getSymbolsByTicker
      parameters:
        - in: path
          name: query
          required: true
          description: The ticker or universal_symbol_id of the UniversalSymbol to get.
          schema:
            type: string
      responses:
        "200":
          description: Successfully gets a symbol
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UniversalSymbol"
        "404":
          description: No symbol with the specified ticker found.
        default:
          description: Unexpected error
  /trade/place:
    post:
      tags:
        - Trading
      summary: Place a trade with NO validation.
      description: Places a specified trade in the specified account.
      operationId: Trading_placeForceOrder
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"

      responses:
        "200":
          description: Trade sucessfully placed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountOrderRecord"
        "400":
          description: Trade could not be placed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "403":
          description: User does not have permissions to place trades
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FailedRequestResponse"
        "500":
          description: Unexpected Error
      requestBody:
        $ref: "#/components/requestBodies/ManualTradeFormRequestBody"
  /trade/impact:
    post:
      tags:
        - Trading
      summary: Check the impact of a trade on an account
      description: Return the trade object and it's impact on the account for the specified order.
      operationId: Trading_getOrderImpact
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "200":
          description: Return trade object and it's impact on the account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManualTradeAndImpact"
        "400":
          description: Missing or wrong data format provided in request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "403":
          description: User does not have permissions to place trades
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FailedRequestResponse"
        "500":
          description: Unexpected Error
      requestBody:
        $ref: "#/components/requestBodies/ManualTradeFormRequestBody"
  /trade/{tradeId}:
    post:
      tags:
        - Trading
      summary: Place order
      description: |
        Places the specified trade object. This places the order in the account and
        returns the status of the order from the brokerage.
      operationId: Trading_placeOrder
      parameters:
        - in: path
          name: tradeId
          required: true
          description: The ID of trade object obtained from trade/impact endpoint
          schema:
            type: string
            format: uuid
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "200":
          description: Status of order placed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountOrderRecord"
        "400":
          description: Failed to submit order to broker
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "500":
          description: Unexpected Error
      requestBody:
        $ref: "#/components/requestBodies/ValidatedTradeRequestBody"
  /activities:
    get:
      tags:
        - Transactions And Reporting
      summary: Get transaction history for a user
      operationId: TransactionsAndReporting_getActivities
      description: |
        Returns all historical transactions for the specified user and filtering criteria. It's recommended to use `startDate` and `endDate` to paginate through the data, as the response may be very large for accounts with a long history and/or a lot of activity. There's a max number of 10000 transactions returned per request.
        
        There is no guarantee to the ordering of the transactions returned. Please sort the transactions based on the `trade_date` field if you need them in a specific order.

        The data returned here is always cached and refreshed once a day. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      parameters:
        - in: query
          required: false
          name: startDate
          description: The start date (inclusive) of the transaction history to retrieve. If not provided, the default is the first transaction known to SnapTrade based on `trade_date`.
          schema:
            $ref: "#/components/schemas/ReportingDate"
        - in: query
          required: false
          name: endDate
          description: The end date (inclusive) of the transaction history to retrieve. If not provided, the default is the last transaction known to SnapTrade based on `trade_date`.
          schema:
            $ref: "#/components/schemas/ReportingDate"
        - in: query
          required: false
          name: accounts
          description: Optional comma separated list of SnapTrade Account IDs used to filter the request to specific accounts. If not provided, the default is all known brokerage accounts for the user. The `brokerageAuthorizations` parameter takes precedence over this parameter.
          schema:
            $ref: "#/components/schemas/AccountIDs"
        - in: query
          required: false
          name: brokerageAuthorizations
          description: Optional comma separated list of SnapTrade Connection (Brokerage Authorization) IDs used to filter the request to only accounts that belong to those connections. If not provided, the default is all connections for the user. This parameter takes precedence over the `accounts` parameter.
          schema:
            $ref: "#/components/schemas/BrokerageAuthIDs"
        - in: query
          required: false
          name: type
          description: |
            Optional comma separated list of transaction types to filter by. SnapTrade does a best effort to categorize brokerage transaction types into a common set of values. Here are some of the most popular values:
              - BUY
              - SELL
              - DIVIDEND
              - CONTRIBUTION
              - WITHDRAWAL
              - REI
              - INTEREST
              - FEE
          schema:
            type: string
            example: BUY,SELL,DIVIDEND
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UniversalActivity"
        default:
          description: Unexpected error
  /performance/custom:
    get:
      deprecated: true
      tags:
        - Transactions And Reporting
      summary: Get performance information for a specific timeframe
      operationId: TransactionsAndReporting_getReportingCustomRange
      description:
        Returns performance information (contributions, dividends, rate of
        return, etc) for a specific timeframe. Please note that Total Equity Timeframe and Rate of Returns are experimental features. Please contact support@snaptrade.com if you notice any inconsistencies.
      parameters:
        - in: query
          required: true
          name: startDate
          schema:
            $ref: "#/components/schemas/ReportingDate"
        - in: query
          required: true
          name: endDate
          schema:
            $ref: "#/components/schemas/ReportingDate"
        - in: query
          required: false
          name: accounts
          description:
            Optional comma separated list of account IDs used to filter the
            request on specific accounts
          schema:
            $ref: "#/components/schemas/AccountIDs"
        - in: query
          required: false
          name: detailed
          description:
            Optional, increases frequency of data points for the total value
            and contribution charts if set to true
          schema:
            type: boolean
            example: true
        - in: query
          required: false
          name: frequency
          description:
            Optional frequency for the rate of return chart (defaults to
            monthly). Possible values are daily, weekly, monthly, quarterly,
            yearly.
          schema:
            $ref: "#/components/schemas/ReportingFrequency"
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "200":
          description: Successfully retrieved performance data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PerformanceCustom"
        default:
          description: Unexpected error
  /connectionAdded:
    post:
      tags:
        - Webhooks
      operationId: Webhooks_connectionAdded
      description: A webhook that is sent whenever a new connection is added.
      requestBody:
        description: Information about a new connection in the system
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookBase"
      responses:
        "200":
          description: Return a 200 status to indicate that the connection was successful
        "201":
          description: Return a 201 status to indicate that the connection was successful
  /connectionDeleted:
    post:
      tags:
        - Webhooks
      operationId: Webhooks_connectionDeleted
      description: A webhook that is sent whenever an existing connection is deleted.
      requestBody:
        description: Information about the deleted connection
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookBase"
      responses:
        "200":
          description:
            Return a 200 status to indicate that the connection was deleted
            successfully
        "201":
          description: Return a 201 status to indicate that the connection was deleted
  /userRegistered:
    post:
      tags:
        - Webhooks
      operationId: Webhooks_userRegistered
      description: A webhook that is sent whenever a user is newly registered.
      requestBody:
        description: Information about the newly registered user
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookBase"
      responses:
        "200":
          description:
            Return a 200 status to indicate that the user was registered
            successfully
        "201":
          description: Return a 201 status to indicate that user was registered
            successfully
  /userDeleted:
    post:
      tags:
        - Webhooks
      operationId: Webhooks_userDeleted
      description: A webhook that is sent whenever an existing user is deleted.
      requestBody:
        description: Information about the deleted user
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookBase"
      responses:
        "200":
          description: Return a 200 status to indicate that the user was deleted
            successfully
        "201":
          description: Return a 201 status to indicate that the connection was successful
  /accountAdded:
    post:
      tags:
        - Webhooks
      operationId: Webhooks_accountAdded
      description: A webhook that is sent whenever a new account is added to an existing brokerage authorization.
      requestBody:
        description: Information about the newly added account
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookBase"
      responses:
        "200":
          description:
            Return a 200 status to indicate that the account was added
            successfully
        "201":
          description: Return a 201 status to indicate that the account was added
            successfully
  /accountDeleted:
    post:
      tags:
        - Webhooks
      operationId: Webhooks_accountDeleted
      description: A webhook that is sent whenever an existing account under a brokerage authorization is deleted.
      requestBody:
        description: Information about the deleted account
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookBase"
      responses:
        "200":
          description:
            Return a 200 status to indicate that the account was deleted
            successfully
        "201":
          description: Return a 201 status to indicate that the account was deleted
            successfully
  /transactionsUpdated:
    post:
      tags:
        - Webhooks
      operationId: Webhooks_updatedTransactions
      description: A webhook that is sent whenever transactions have been updated for an account.
      requestBody:
        description: Information about the account for which transactions have been updated
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookBase"
      responses:
        "200":
          description: Return a 200 status to indicate that the update was successful
        "201":
          description: Return a 201 status to indicate the update was successful
components:
  securitySchemes:
    PartnerSignature:
      type: apiKey
      in: header
      name: Signature
    PartnerClientId:
      type: apiKey
      in: query
      name: clientId
    PartnerTimestamp:
      type: apiKey
      in: query
      name: timestamp
  requestBodies:
    RegisterUserRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SnapTradeRegisterUserRequestBody"
    ResetUserSecretRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UserIDandSecret"
    SnapTradeLoginUserRequestBody:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SnapTradeLoginUserRequestBody"
    ManualTradeFormRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ManualTradeForm"
    ValidatedTradeRequestBody:
      required: false
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ValidatedTradeBody"
    CancelOrderRequestBody:
      description: The Order ID to be canceled
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              brokerage_order_id:
                $ref: '#/components/schemas/Id'

    OptionStrategyRequestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: ["underlying_symbol_id", "legs", "strategy_type"]
            properties:
              underlying_symbol_id:
                $ref: "#/components/schemas/Id"
              legs:
                type: array
                items:
                  $ref: "#/components/schemas/OptionLeg"
              strategy_type:
                type: string
                enum:
                - CUSTOM

    OrderStrategyExecuteBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: ["order_type", "time_in_force"]
            properties:
              order_type:
                $ref: "#/components/schemas/OrderTypeStrict"
              time_in_force:
                $ref: "#/components/schemas/TimeInForceStrict"
              price:
                $ref: "#/components/schemas/Price"

  schemas:
    400FailedRequestResponse:
      description: Example for failed request response
      type: object
      properties:
        default_detail:
          example: Unable to verify data sent
        default_code:
          example: 1076
    401FailedRequestResponse:
      description: Example for failed request response
      type: object
      properties:
        default_detail:
          example: Unable to verify signature sent
        default_code:
          example: 1076
    402BrokerageAuthDisabledResponse:
      description: Cannot perform action because connection is disabled
      type: object
      properties:
        detail:
          example: Unable to sync with brokerage account because the connection is disabled.
        code:
          example: 3003
    402BrokerageAuthAlreadyDisabledException:
      description: This connection is already disabled.
      type: object
      properties:
        detail:
          example: This connection is already disabled.
        code:
          example: 3011
    403FailedRequestResponse:
      description: Example for failed request response
      type: object
      properties:
        default_detail:
          example: User does not have permission to access this resource
        default_code:
          example: 1066
    403FeatureNotEnabledResponse:
      description: Example for failed request response
      type: object
      properties:
        detail:
          example: Feature is not enabled for this customer or this connection
        default_code:
          example: 1141
    404FailedRequestResponse:
      description: Example for failed request response
      type: object
      properties:
        default_detail:
          example: The requested resource does not exist.
        default_code:
          example: 1011
    500UnexpectedExceptionResponse:
      description: Example for a response that failed for unexpected reasons
      type: object
      properties:
        detail:
          example: Encountered an unexpected exception.
        status_code:
          example: 500
        code:
          example: 1000
    AccountSyncStatus:
      description: Contains status update for the account sync process between SnapTrade and the brokerage.
      properties:
        transactions:
          $ref: "#/components/schemas/TransactionsStatus"
        holdings:
          $ref: "#/components/schemas/HoldingsStatus"
    TransactionsStatus:
      description: |
        Status of account transaction sync. SnapTrade syncs transactions from the brokerage under the following conditions:
        1. Initial connection - SnapTrade syncs all transactions from the brokerage account as far back as the brokerage allows. Check [our integrations doc](https://snaptrade.notion.site/66793431ad0b416489eaabaf248d0afb?v=6fab8012ade6441fa0c6d9af9c55ce3a) for details on how far back we sync for each brokerage.
        2. Daily sync - Once a day SnapTrade syncs new transactions from the brokerage.
        3. Manual sync - You can retrigger an incremental sync of transactions with the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint.
      properties:
        initial_sync_completed:
          description: Indicates if the initial sync of transactions has been completed. For accounts with a large number of transactions, the initial sync may take a while to complete.
          type: boolean
          example: true
        last_successful_sync:
          description: All transactions up to this date have been successfully synced. Please note that this is not the date of the last transaction, nor the last time SnapTrade attempted to sync transactions.
          allOf:
            - $ref: "#/components/schemas/SyncStatusDate"
        first_transaction_date:
          description: The date of the first transaction in the account known to SnapTrade. It's possible that the account has transactions before this date, but they are not known to SnapTrade.
          allOf:
            - $ref: "#/components/schemas/SyncStatusDate"
    HoldingsStatus:
      description: |
        Status of account holdings sync. SnapTrade syncs holdings from the brokerage under the following conditions:
        1. Initial connection - SnapTrade syncs all holdings (positions, balances, recent orders, and transactions) immediately after the connection is established.
        2. Daily sync - Once a day SnapTrade refreshes all holdings from the brokerage.
        3. Manual sync - You can trigger a refresh of holdings with the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint.
      properties:
        initial_sync_completed:
          description: Indicates if the initial sync of holdings has been completed. For accounts with a large number of positions/orders/transactions, the initial sync may take a while to complete.
          type: boolean
          example: true
        last_successful_sync:
          description: The last time holdings were successfully synced by SnapTrade.
          allOf:
            - $ref: "#/components/schemas/HoldingsSyncStatusDate"
    AccountBalance:
      description: Contains balance related information for the account.
      properties:
        total:
          description: Total market value of this account (includes cash, equity, fixed income, etc). This value is directly obtained from the brokerage and should reflect the most accurate value of the account.
          nullable: true
          properties:
            amount:
              type: number
              description: Total value denominated in the currency of the `currency` field.
              example: 15363.23
            currency:
              type: string
              description: The ISO-4217 currency code for the amount.
              example: USD
    Account:
      description: A single account at a brokerage.
      type: object
      properties:
        id:
          description: Unique identifier for the connected brokerage account. This is the UUID used to reference the account in SnapTrade. This ID should not change for as long as the connection stays active. If the connection is deleted and re-added, a new account ID will be generated.
          allOf:
            - $ref: "#/components/schemas/AccountID"
        brokerage_authorization:
          $ref: "#/components/schemas/BrokerageAuthID"
        portfolio_group:
          $ref: "#/components/schemas/PortfolioGroupID"
        name:
          type: string
          description: A display name for the account. Either assigned by the user or by the brokerage itself. For certain brokerages, SnapTrade appends the brokerage name to the account name for clarity.
          example: Robinhood Individual
          nullable: true
        number:
          type: string
          example: Q6542138443
          description: The account number assigned by the brokerage. For some brokerages, this field may be masked for security reasons.
        institution_name:
          type: string
          description: The name of the brokerage that holds the account.
          example: Robinhood
        created_date:
          description: Timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format indicating when the account was created in SnapTrade. This is _not_ the account opening date at the brokerage.
          type: string
          format: date-time
          example: 2024-07-23T22:50:22.761390Z
        meta:
          type: object
          deprecated: true
          description: Additional information about the account, such as account type, status, etc. This information is specific to the brokerage and there's no standard format for this data. This field is deprecated and subject to removal in a future version.
          example:
            type: Margin
            status: ACTIVE
            institution_name: Robinhood
        cash_restrictions:
          deprecated: true
          description: This field is deprecated.
          type: array
          items:
            type: string
          example: []
        sync_status:
          $ref: "#/components/schemas/AccountSyncStatus"
        balance:
          $ref: "#/components/schemas/AccountBalance"
    AccountSimple:
      description: A single account at a brokerage.
      type: object
      properties:
        id:
          $ref: "#/components/schemas/AccountID"
        name:
          type: string
          description: A display name for the account. Either assigned by the user or by the brokerage itself. For certain brokerages, SnapTrade appends the brokerage name to the account name for clarity.
          example: Robinhood Individual
        number:
          type: string
          example: Q6542138443
          description: The account number assigned by the brokerage. For some brokerages, this field may be masked for security reasons.
        sync_status:
          $ref: "#/components/schemas/AccountSyncStatus"
    AccountID:
      description: Unique identifier for the connected brokerage account. This is the UUID used to reference the account in SnapTrade.
      type: string
      format: uuid
      example: 917c8734-8470-4a3e-a18f-57c3f2ee6631
    AccountIDs:
      description: Comma separated list of account IDs
      type: string
      example: 917c8734-8470-4a3e-a18f-57c3f2ee6631,65e839a3-9103-4cfb-9b72-2071ef80c5f2
    BrokerageAuthID:
      description: Unique identifier for the connection. This is the UUID used to reference the connection in SnapTrade.
      type: string
      format: uuid
      example: 87b24961-b51e-4db8-9226-f198f6518a89
    BrokerageAuthIDs:
      description: Comma separated list of brokerage authorization IDs
      type: string
      example: 917c8734-8470-4a3e-a18f-57c3f2ee6631,65e839a3-9103-4cfb-9b72-2071ef80c5f2
    AccountHoldings:
      description: Account Holdings
      type: object
      properties:
        account:
          $ref: "#/components/schemas/SnapTradeHoldingsAccount"
        balances:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/Balance"
        positions:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/Position"
        total_value:
          $ref: "#/components/schemas/SnapTradeHoldingsTotalValue"
    AccountHoldingsAccount:
      description: A wrapper object containing holdings information for a single account.
      type: object
      properties:
        account:
          $ref: "#/components/schemas/Account"
        balances:
          type: array
          nullable: true
          description: List of balances for the account. Each element of the list has a distinct currency. Some brokerages like Questrade [allows holding multiple currencies in the same account](https://www.questrade.com/learning/questrade-basics/balances-and-reports/understanding-your-account-balances).
          items:
            $ref: "#/components/schemas/Balance"
        positions:
          type: array
          nullable: true
          description: List of stock/ETF/crypto/mutual fund positions in the account.
          items:
            $ref: "#/components/schemas/Position"
        option_positions:
          type: array
          nullable: true
          description: List of option positions in the account.
          items:
            $ref: "#/components/schemas/OptionsPosition"
        orders:
          type: array
          nullable: true
          description: List of recent orders in the account, including both pending and executed orders. Note that option orders are included in this list. Option orders will have a null `universal_symbol` field and a non-null `option_symbol` field.
          items:
            $ref: "#/components/schemas/AccountOrderRecord"
        total_value:
          $ref: "#/components/schemas/SnapTradeHoldingsTotalValue"
    AccountOrderRecord:
      description: Describes a single recent order in an account. Each record here represents a single order leg. For multi-leg orders, there will be multiple records.
      type: object
      properties:
        brokerage_order_id:
          description: Order ID returned by brokerage. This is the unique identifier for the order in the brokerage system.
          type: string
        status:
          $ref: "#/components/schemas/AccountOrderRecordStatus"
        symbol:
         $ref: "#/components/schemas/BrokerageSymbolID"
        universal_symbol:
          description: Contains information about the security that the order is for. This field is only present for stock/ETF/crypto/mutual fund orders. For option orders, this field will be null and the `option_symbol` field will be populated.
          allOf:
            - $ref: "#/components/schemas/UniversalSymbol"
        option_symbol:
          description: Contains information about the option contract that the order is for. This field is only present for option orders. For stock/ETF/crypto/mutual fund orders, this field will be null and the `universal_symbol` field will be populated.
          allOf:
            - $ref: "#/components/schemas/OptionsSymbol"
        action:
          $ref: "#/components/schemas/Action"
        total_quantity:
          description: The total number of shares or contracts of the order. This should be the sum of the filled, canceled, and open quantities. Can be a decimal number for fractional shares.
          nullable: true
          type: number
          example: 100
        open_quantity:
          description: The number of shares or contracts that are still open (waiting for execution). Can be a decimal number for fractional shares.
          nullable: true
          type: number
          example: 10
        canceled_quantity:
          description: The number of shares or contracts that have been canceled. Can be a decimal number for fractional shares.
          nullable: true
          type: number
          example: 10
        filled_quantity:
          description: The number of shares or contracts that have been filled. Can be a decimal number for fractional shares.
          nullable: true
          type: number
          example: 80
        execution_price:
          description: The price at which the order was executed.
          nullable: true
          type: number
          example: 12.34
        limit_price:
          description: The limit price is maximum price one is willing to pay for a buy order or the minimum price one is willing to accept for a sell order. Should only apply to `Limit` and `StopLimit` orders.
          nullable: true
          type: number
          example: 12.34
        stop_price:
          description: The stop price is the price at which a stop order is triggered. Should only apply to `Stop` and `StopLimit` orders.
          nullable: true
          type: number
          example: 12.50
        order_type:
          description: The type of order placed. The most common values are `Market`, `Limit`, `Stop`, and `StopLimit`. We try our best to map brokerage order types to these values. When mapping fails, we will return the brokerage's order type value.
          nullable: true
          type: string
          example: "Market"
        time_in_force:
          description: >
            The Time in Force type for the order. This field indicates how long the order will remain active before it is executed or expires. We try our best to map brokerage time in force values to the following. When mapping fails, we will return the brokerage's time in force value.
              - `Day` - Day. The order is valid only for the trading day on which it is placed.
              - `GTC` - Good Til Canceled. The order is valid until it is executed or canceled.
              - `FOK` - Fill Or Kill. The order must be executed in its entirety immediately or be canceled completely.
              - `IOC` - Immediate Or Cancel. The order must be executed immediately. Any portion of the order that cannot be filled immediately will be canceled.
              - `GTD` - Good Til Date. The order is valid until the specified date.
              - `MOO` - Market On Open. The order is to be executed at the day's opening price.
              - `EHP` - Extended Hours P.M. The order is to be placed during extended hour trading, after markets close.
          type: string
        time_placed:
          description: The time the order was placed. This is the time the order was submitted to the brokerage.
          type: string
          format: date-time
          example: 2024-07-30T22:51:49.746270Z
        time_updated:
          description: The time the order was last updated in the brokerage system. This value is not always available from the brokerage.
          nullable: true
          type: string
          format: date-time
          example: 2024-08-05T00:05:57.409000Z
        time_executed:
          description: The time the order was executed in the brokerage system. This value is not always available from the brokerage.
          nullable: true
          type: string
          format: date-time
          example: 2024-08-05T00:05:57.409000Z
        expiry_date:
          description: The time the order expires. This value is not always available from the brokerage.
          nullable: true
          type: string
          format: date-time
          example: 2024-08-05T00:05:57.409000Z
    AccountOrderRecordStatus:
      description: Indicates the status of an order. SnapTrade does a best effort to map brokerage statuses to statuses in this enum.
      type: string
      enum:
        - NONE
        - PENDING
        - ACCEPTED
        - FAILED
        - REJECTED
        - CANCELED
        - PARTIAL_CANCELED
        - CANCEL_PENDING
        - EXECUTED
        - PARTIAL
        - REPLACE_PENDING
        - REPLACED
        - STOPPED
        - SUSPENDED
        - EXPIRED
        - QUEUED
        - TRIGGERED
        - ACTIVATED
        - PENDING_RISK_REVIEW
        - CONTINGENT_ORDER

    OptionsPosition:
      description: Describes a single option position in an account.
      type: object
      properties:
        symbol:
          $ref: "#/components/schemas/OptionBrokerageSymbol"
        price:
          type: number
          example: 113.15
          description: Last known market price for the option contract. The freshness of this price depends on the brokerage. Some brokerages provide real-time prices, while others provide delayed prices. It is recommended that you rely on your own third-party market data provider for most up to date prices.
          nullable: true
        units:
          type: number
          description: The number of contracts for this option position. A positive number indicates a long position, while a negative number indicates a short position.
          example: 10
        currency:
          deprecated: true
          description: The currency of the price. This field is deprecated and will be removed in a future version. The currency of the price is determined by the currency of the underlying security.
          nullable: true
          allOf:
           - $ref: "#/components/schemas/Currency"
        average_purchase_price:
          type: number
          nullable: true
          example: 108.3353
          description: Cost basis _per contract_ of this option position. To get the cost basis _per share_, divide this value by the number of shares per contract (usually 100).
    OptionStrategy:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Id"
        underlying_symbol_id:
          $ref: "#/components/schemas/UniversalSymbol"
        strategy_type:
          type: string
          example: BUTTERFLY
        number_of_legs:
          type: number
          example: 2
        legs:
          type: array
          items:
            properties:
              option_symbol_id:
                type: string
                example: AAPLC20221111
              index:
                type: number
                example: 1
              action:
                type: string
                example: BUY_TO_OPEN
              quantity:
                type: number
                example: 10
    StrategyQuotes:
      type: object
      properties:
        strategy:
          $ref: "#/components/schemas/OptionStrategy"
        open_price:
          $ref: "#/components/schemas/Price"
        bid_price:
          $ref: "#/components/schemas/Price"
        ask_price:
          $ref: "#/components/schemas/Price"
        volatility:
          type: number
          example: 0.141
        greek:
          type: object
          properties:
            delta:
                type: number
                example: 0.1
            gamma:
                type: number
                example: 0.1
            theta:
                type: number
                example: 0.1
            vega:
                type: number
                example: 0.1
            rho:
                type: number
                example: 0.1
    StrategyOrderRecord:
      description: Strategy order record
      type: object
      properties:
        strategy:
          $ref: "#/components/schemas/OptionStrategy"
        status:
          type: string
          enum:
            - PENDING
            - ACCEPTED
            - FAILED
            - REJECTED
            - CANCELED
            - PARTIAL_CANCELED
            - CANCEL_PENDING
            - EXECUTED
            - PARTIAL
            - REPLACE_PENDING
            - REPLACED
            - STOPPED
            - SUSPENDED
            - EXPIRED
            - QUEUED
            - TRIGGERED
            - ACTIVATED
            - PENDING_RISK_REVIEW
            - CONTINGENT_ORDER
        filled_quantity:
          type: number
          example: 10
        open_quantity:
          type: number
          example: 10
        closed_quantity:
          type: number
          example: 10
        order_type:
          $ref: "#/components/schemas/OrderType"
        time_in_force:
          $ref: "#/components/schemas/TimeInForce"
        limit_price:
          $ref: "#/components/schemas/Price"
        execution_price:
          $ref: "#/components/schemas/Price"
        time_placed:
          $ref: "#/components/schemas/Time"
        time_updated:
          $ref: "#/components/schemas/Time"

    SnapTradeHoldingsAccount:
      description: SnapTradeUser Investment Account
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Id"
        brokerage_authorization:
          $ref: "#/components/schemas/BrokerageAuthorization"
        portfolio_group:
          $ref: "#/components/schemas/Id"
        name:
          type: string
          example: Registered Retirement Savings Account
          nullable: true
        number:
          type: string
          example: Q6542138443
        institution_name:
          type: string
          example: Alpaca
        sync_status:
          $ref: "#/components/schemas/AccountSyncStatus"
        meta:
          type: object
          example:
            type: Margin
            status: ACTIVE
            institution_name: Alpaca

    SnapTradeHoldingsTotalValue:
      description: The total market value of the account. Note that this field is calculated based on the sum of the values of account positions and cash balances known to SnapTrade. It may not be accurate if the brokerage account has holdings that SnapTrade is not aware of. For example, if the brokerage account holds assets that SnapTrade does not support, the total value may be underreported. To get the brokerage reported total market value of the account, refer to `account.balance.total`.
      type: object
      properties:
        value:
          type: number
          example: 32600.71
          description: Total value denominated in the currency of the `currency` field.
          nullable: true
        currency:
          type: string
          nullable: true
          description: The ISO-4217 currency code for the amount.
          example: USD
    Balance:
      description: Holds balance information for a single currency in an account.
      type: object
      properties:
        currency:
          description: The currency of the balance. This applies to both `cash` and `buying_power`.
          allOf:
            - $ref: "#/components/schemas/Currency"
        cash:
          type: number
          description: The amount of available cash in the account denominated in the currency of the `currency` field.
          example: 300.71
          nullable: true
        buying_power:
          type: number
          description: Buying power only applies to margin accounts. For non-margin accounts, buying power should be the same as cash. Please note that this field is not always available for all brokerages.
          example: 410.71
          nullable: true
    Currency:
      description: Describes a currency object.
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the currency. This is the UUID used to reference the currency in SnapTrade.
          example: 87b24961-b51e-4db8-9226-f198f6518a89
        code:
          type: string
          description: The ISO-4217 currency code for the currency.
          example: USD
        name:
          type: string
          description: A human-friendly name of the currency.
          example: US Dollar
    Exchange:
      description: Describes a single stock or crypto exchange.
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ExchangeID"
        code:
          description: A short name for the exchange. For standardized exchange code, please us the `mic_code` field.
          type: string
          example: TSX
        mic_code:
          description: The [Market Identifier Code](https://en.wikipedia.org/wiki/Market_Identifier_Code) (MIC) for the exchange.
          type: string
          example: XTSE
        name:
          description: The full name of the exchange.
          type: string
          example: Toronto Stock Exchange
        timezone:
          description: The timezone for the trading hours (`start_time` and `close_time`) of the exchange.
          type: string
          example: America/New_York
        start_time:
          description: The time when the exchange opens for trading.
          type: string
          example: 09:30:00
        close_time:
          description: The time when the exchange closes for trading.
          type: string
          example: 16:00:00
        suffix:
          description: The suffix to be appended to the symbol when trading on this exchange. For example, the suffix for the Toronto Stock Exchange is `.TO`. See `UniversalSymbol->symbol` and `UniversalSymbol->raw_symbol` for more detail.
          type: string
          example: .TO
          nullable: true
    USExchange:
      # FIXME Why did we create a separate schema for USExchange instead of using Exchange?
      description: US Stock Exchange
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Id"
        code:
          type: string
          example: ARCX
        mic_code:
          type: string
          example: ARCA
        name:
          type: string
          example: NYSE ARCA
        timezone:
          type: string
          example: America/New_York
        start_time:
          type: string
          example: 09:30:00
        close_time:
          type: string
          example: 16:00:00
        suffix:
          type: string
          example: None
          nullable: true
        allows_cryptocurrency_symbols:
          type: boolean
          example: false
    LoginRedirectURI:
      description: Redirect uri upon successful login
      type: object
      properties:
        redirectURI:
          description: Connection Portal link to redirect user to connect a brokerage account.
          type: string
          example: https://app.snaptrade.com/snapTrade/redeemToken?token=npVKchZrL0MYIHTusGfADT74r4xXpHkmbxbQDmt0RINLXbQ5cWsvGkPSgMQRxz8/cnxjzL9T2NWLuHuDyidHiCNeXXTb/tVhzC2olSyfxWW6DRrkUppArGCdmkIHyBMzog6C55P8yoqzcGer5Hml0Q%3D%3D&clientId=WEALTHLY&broker=ROBINHOOD&connectionPortalVersion=v3&sessionId=cf371bb4-a475-4f17-ab94-d0fee699960d
        sessionId:
          description: ID to identify the connection portal session.
          type: string
          example: cf371bb4-a475-4f17-ab94-d0fee699960d
    ClientID:
      description: SnapTrade Client ID (generated and provided to partner by SnapTrade)
      type: string
      example: SNAPTRADETEST
    UserID:
      description: SnapTrade User ID. This is chosen by the API partner and can be any string that is a) unique to the user, and b) immutable for the user. It is recommended to NOT use email addresses for this property because they are usually not immutable.
      type: string
      example: snaptrade-user-123
    UserSecret:
      description: SnapTrade User Secret. This is a randomly generated string and should be stored securely. If compromised, please rotate it via the [rotate user secret endpoint](/reference/Authentication/Authentication_resetSnapTradeUserSecret).
      type: string
      example: adf2aa34-8219-40f7-a6b3-60156985cc61
    PerformanceCustom:
      description: Performance Custom Response Object
      type: object
      properties:
        totalEquityTimeframe:
          type: array
          items:
            $ref: "#/components/schemas/PastValue"
        contributions:
          $ref: "#/components/schemas/NetContributions"
        contributionTimeframe:
          type: array
          items:
            $ref: "#/components/schemas/PastValue"
        contributionTimeframeCumulative:
          type: array
          items:
            $ref: "#/components/schemas/PastValue"
        withdrawalTimeframe:
          type: array
          items:
            $ref: "#/components/schemas/PastValue"
        contributionStreak:
          type: number
          example: 5
          description: Current streak of cosecutive months where contributions were made
          nullable: true
        contributionMonthsContributed:
          type: number
          example: 10
          description: Number of months in the timeframe with contributions
          nullable: true
        contributionTotalMonths:
          type: number
          example: 13
          description: Total months in timeframe
          nullable: true
        dividends:
          type: array
          items:
            $ref: "#/components/schemas/NetDividend"
        dividendIncome:
          type: number
          description: Total dividends received over the timeframe
          example: 135.97
          nullable: true
        monthlyDividends:
          type: number
          description: Average dividends received per month over the timeframe
          example: 26.37
          nullable: true
        badTickers:
          type: array
          items:
            type: string
            example: MAW105
            nullable: true
          description:
            list of tickers which may not be supported or may not have accurate
            price data
        dividendTimeline:
          type: array
          items:
            $ref: "#/components/schemas/MonthlyDividends"
        commissions:
          type: number
          example: 3.26
          description: commissions incurred during the timeframe
          nullable: true
        forexFees:
          type: number
          example: 5.26
          description: forex fees incurred during the timeframe
          nullable: true
        fees:
          type: number
          example: 2.72
          description: other fees incurred during the timeframe
          nullable: true
        rateOfReturn:
          type: number
          example: 0.082312367452
          description:
            The return rate over the timeframe. Annualized if timeframe is
            longer than 1 year
          nullable: true
        returnRateTimeframe:
          type: array
          items:
[...]
