openapi: 3.0.0
info:
  description: Connect brokerage accounts to your app for live positions and trading
  version: 1.0.0
  title: SnapTrade
  termsOfService: N/A
  contact:
    email: api@snaptrade.com
  x-konfig-ignore:
    potential-incorrect-type: true
  x-readme:
    explorer-enabled: false
servers:
  - description: SnapTrade Production API
    url: https://api.snaptrade.com/api/v1
security:
  - PartnerSignature: []
    PartnerClientId: []
    PartnerTimestamp: []
tags:
  - name: API Status
    description: Check whether the API is operational and verify timestamps.
  - name: Authentication
    description: Register and authenticate users with SnapTrade.
  - name: Connections
    description: Retrieve and manage user connections.
  - name: Account Information
    description: Retrieve account information, such as positions, balances, etc.
  - name: Transactions And Reporting
    description: Retrieve information on account transactions, performance, dividends, contributions, etc.
  - name: Trading
    description: Manage orders on user accounts.
  - name: Reference Data
    description: Retrieve basic information for API use, such as supported brokerages, exchanges, currencies, etc.
  - name: Webhooks
    description: Reach out directly to SnapTrade to enable webhooks in order to be notified when certain events occur.
  - name: Options
    description: Endpoints to search for options prices and chains as well as place options trades if supported.
paths:
  /:
    get:
      tags:
        - API Status
      summary: Get API Status
      description: Check whether the API is operational and verify timestamps.
      operationId: ApiStatus_check
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
        default:
          description: Unexpected Error
  /snapTrade/listUsers:
    get:
      tags:
        - Authentication
      summary: List all users
      operationId: Authentication_listSnapTradeUsers
      description: Returns a list of all registered user IDs. Please note that the response is not currently paginated.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserList"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/404FailedRequestResponse"
        "500":
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  /snapTrade/registerUser:
    post:
      tags:
        - Authentication
      summary: Register user
      description: |
        Registers a new SnapTrade user under your Client ID. A user secret will be automatically generated for you and must be properly stored in your system.
        Most SnapTrade operations require a user ID and user secret to be passed in as parameters.
      operationId: Authentication_registerSnapTradeUser
      requestBody:
        $ref: "#/components/requestBodies/RegisterUserRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserIDandSecret"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/404FailedRequestResponse"
        "500":
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  /snapTrade/deleteUser:
    delete:
      tags:
        - Authentication
      summary: Delete user
      operationId: Authentication_deleteSnapTradeUser
      description: Deletes a registered user and all associated data. This action is irreversible. This API is asynchronous and will return a 200 status code if the request is accepted. The user and all associated data will be queued for deletion. Once deleted, a `USER_DELETED` webhook will be sent.
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteUserResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FailedRequestResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/404FailedRequestResponse"
        "500":
          description: Unexpected Error
  /snapTrade/login:
    post:
      tags:
        - Authentication
      summary: Generate Connection Portal URL
      operationId: Authentication_loginSnapTradeUser
      description: |
        Authenticates a SnapTrade user and returns the Connection Portal URL used for connecting brokerage accounts. Please check [this guide](/docs/implement-connection-portal) for how to integrate the Connection Portal into your app.

        Please note that the returned URL expires in 5 minutes.
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      requestBody:
        $ref: "#/components/requestBodies/SnapTradeLoginUserRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/LoginRedirectURI"
                  - $ref: "#/components/schemas/encryptedResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FailedRequestResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/404FailedRequestResponse"
        "500":
          description: Unexpected Error
  /snapTrade/resetUserSecret:
    post:
      tags:
        - Authentication
      summary: Rotate user secret
      description: |
        Rotates the secret for a SnapTrade user. You might use this if `userSecret` is compromised. Please note that if you call this endpoint and fail to save the new secret, you'll no longer be able to access any data for this user, and your only option will be to delete and recreate the user, then ask them to reconnect.
      operationId: Authentication_resetSnapTradeUserSecret
      requestBody:
        $ref: "#/components/requestBodies/ResetUserSecretRequestBody"
      responses:
        "200":
          description: New user secret is generated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserIDandSecret"
        "400":
          description:
            Bad Request. Could be caused by various reasons. Error message is
            provided in response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "401":
          description: Failed authentication. Wrong clientId, userId or userSecret provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/401FailedRequestResponse"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  /snapTrade/partners:
    get:
      tags:
        - Reference Data
      summary: Get Client Info
      description: Returns configurations for your SnapTrade Client ID, including allowed brokerages and data access.
      operationId: ReferenceData_getPartnerInfo
      parameters: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartnerData"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/401FailedRequestResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/404FailedRequestResponse"
        "500":
          description: Unexpected Error
  /holdings:
    get:
      deprecated: true
      tags:
        - Account Information
      summary:
        List all accounts for the user, plus balances, positions, and orders for each
        account.
      description: |
        **Deprecated, please use the account-specific holdings endpoint instead.**

        List all accounts for the user, plus balances, positions, and orders for each
        account.
      operationId: AccountInformation_getAllUserHoldings
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: query
          required: false
          name: brokerage_authorizations
          description:
            Optional. Comma separated list of authorization IDs (only use if
            filtering is needed on one or more authorizations).
          schema:
            type: string
            format: uuid
            example: 917c8734-8470-4a3e-a18f-57c3f2ee6631
      responses:
        "200":
          description: Returns list of accounts and holdings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AccountHoldings"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FailedRequestResponse"
        "425":
          description: Too Early
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/425FailedRequestResponse"
        "500":
          description: Unexpected Error
  /accounts/{accountId}/holdings:
    get:
      tags:
        - Account Information
      summary: List account holdings
      description: |
        Returns a list of balances, positions, and recent orders for the specified account. The data returned is similar to the data returned over the more fine-grained [balances](/reference/Account%20Information/AccountInformation_getUserAccountBalance), [positions](/reference/Account%20Information/AccountInformation_getUserAccountPositions) and [orders](/reference/Account%20Information/AccountInformation_getUserAccountOrders) endpoints. __The finer-grained APIs are preferred. They are easier to work with, faster, and have better error handling than this coarse-grained API.__

        The data returned here is cached. How long the data is cached for varies by brokerage. Check the [brokerage integrations doc](https://snaptrade.notion.site/66793431ad0b416489eaabaf248d0afb?v=d16c4c97b8d5438bbb2d8581ac53b11e) and look for "Cache Expiry Time" to see the exact value for a specific brokerage. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      operationId: AccountInformation_getUserHoldings
      parameters:
        - in: path
          required: true
          name: accountId
          schema:
            $ref: "#/components/schemas/AccountID"
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountHoldingsAccount"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FailedRequestResponse"
        "425":
          description: Too Early
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/425FailedRequestResponse"
        "500":
          description: Unexpected Error
  /accounts:
    get:
      tags:
        - Account Information
      summary: List accounts
      description: |
        Returns all brokerage accounts across all connections known to SnapTrade for the authenticated user.

        The data returned here is always cached and refreshed once a day. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      operationId: AccountInformation_listUserAccounts
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                description: List of brokerage accounts across all connections.
                type: array
                items:
                  $ref: "#/components/schemas/Account"
        default:
          description: Unexpected error.
  "/accounts/{accountId}":
    get:
      tags:
        - Account Information
      summary: Get account detail
      description: |
        Returns account detail known to SnapTrade for the specified account.

        The data returned here is always cached and refreshed once a day. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      operationId: AccountInformation_getUserAccountDetails
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          required: true
          name: accountId
          schema:
            $ref: "#/components/schemas/AccountID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        default:
          description: Unexpected error
    put:
      tags:
        - Account Information
      summary: Update details of an investment account
      description: Updates various properties of a specified account.
      operationId: AccountInformation_updateUserAccount
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          description: The ID of the account to update.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Successfully updated details of an investment account
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Account"
        default:
          description: Unexpected error
  /accounts/{accountId}/balances:
    get:
      tags:
        - Account Information
      summary: List account balances
      operationId: AccountInformation_getUserAccountBalance
      description: |
        Returns a list of balances for the account. Each element of the list has a distinct currency. Some brokerages like Questrade [allows holding multiple currencies in the same account](https://www.questrade.com/learning/questrade-basics/balances-and-reports/understanding-your-account-balances).

        The data returned here is cached. How long the data is cached for varies by brokerage. Check the [brokerage integrations doc](https://snaptrade.notion.site/66793431ad0b416489eaabaf248d0afb?v=d16c4c97b8d5438bbb2d8581ac53b11e) and look for "Cache Expiry Time" to see the exact value for a specific brokerage. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          schema:
            $ref: "#/components/schemas/AccountID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Balance"
        default:
          description: Unexpected error
  /accounts/{accountId}/positions:
    get:
      tags:
        - Account Information
      summary: List account positions
      description: |
        Returns a list of stock/ETF/crypto/mutual fund positions in the specified account. For option positions, please use the [options endpoint](/reference/Options/Options_listOptionHoldings).

        The data returned here is cached. How long the data is cached for varies by brokerage. Check the [brokerage integrations doc](https://snaptrade.notion.site/66793431ad0b416489eaabaf248d0afb?v=d16c4c97b8d5438bbb2d8581ac53b11e) and look for "Cache Expiry Time" to see the exact value for a specific brokerage. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      operationId: AccountInformation_getUserAccountPositions
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          schema:
            $ref: "#/components/schemas/AccountID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Position"
        default:
          description: Unexpected error
  /accounts/{accountId}/orders:
    get:
      tags:
        - Account Information
      summary: List account orders
      operationId: AccountInformation_getUserAccountOrders
      description: |
        Returns a list of recent orders in the specified account.

        The data returned here is cached. How long the data is cached for varies by brokerage. Check the [brokerage integrations doc](https://snaptrade.notion.site/66793431ad0b416489eaabaf248d0afb?v=d16c4c97b8d5438bbb2d8581ac53b11e) and look for "Cache Expiry Time" to see the exact value for a specific brokerage. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: query
          name: state
          description: defaults value is set to "all"
          schema:
            type: string
            enum:
              - all
              - open
              - executed
        - in: query
          name: days
          description: Number of days in the past to fetch the most recent orders. Defaults to the last 30 days if no value is passed in.
          schema:
            type: integer
            format: int32
            minimum: 1
            example: 30
        - in: path
          name: accountId
          required: true
          schema:
            $ref: "#/components/schemas/AccountID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AccountOrderRecord"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  /accounts/{accountId}/recentOrders:
    get:
      tags:
        - Account Information
      summary: List account recent orders (last 24 hours only)
      operationId: AccountInformation_getUserAccountRecentOrders
      description: |
        A lightweight endpoint that returns a list of orders executed in the last 24 hours in the specified account.
        This endpoint is realtime and can be used to quickly check if account state has recently changed due to an execution, or check status of recently placed orders
        Differs from /orders in that it is realtime, and only checks the last 24 hours as opposed to the last 30 days
        By default only returns executed orders, but that can be changed by setting *only_executed* to false
        **Please contact support for access as this endpoint is not enabled by default.**
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: query
          name: only_executed
          description: Defaults to true. Indicates if request should fetch only executed orders. Set to false to retrieve non executed orders as well
          schema:
            type: boolean
        - in: path
          name: accountId
          required: true
          schema:
            $ref: "#/components/schemas/AccountID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecentOrdersResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FeatureNotEnabledResponse"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  /accounts/{accountId}/returnRates:
    get:
      tags:
        - Account Information
      summary: List account rate of returns
      operationId: AccountInformation_getUserAccountReturnRates
      description: |
        Returns a list of rate of return percents for a given account. Will include timeframes available from the brokerage, for example "ALL", "1Y", "6M", "3M", "1M"
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          schema:
            $ref: "#/components/schemas/AccountID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateOfReturnResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FeatureNotEnabledResponse"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  /accounts/{accountId}/activities:
    get:
      tags:
        - Account Information
      summary: List account activities
      operationId: AccountInformation_getAccountActivities
      description: |
        Returns all historical transactions for the specified account.

        This endpoint is paginated with a default page size of 1000. The endpoint will return a maximum of 1000 transactions per request. See the query parameters for pagination options.

        Transaction are returned in reverse chronological order, using the `trade_date` field.

        The data returned here is always cached and refreshed once a day.
      parameters:
        - in: path
          name: accountId
          required: true
          schema:
            $ref: "#/components/schemas/AccountID"
        - in: query
          required: false
          name: startDate
          description: The start date (inclusive) of the transaction history to retrieve. If not provided, the default is the first transaction known to SnapTrade based on `trade_date`.
          schema:
            $ref: "#/components/schemas/ReportingDate"
        - in: query
          required: false
          name: endDate
          description: The end date (inclusive) of the transaction history to retrieve. If not provided, the default is the last transaction known to SnapTrade based on `trade_date`.
          schema:
            $ref: "#/components/schemas/ReportingDate"
        - in: query
          required: false
          name: offset
          description: An integer that specifies the starting point of the paginated results. Default is 0.
          schema:
            type: integer
            format: int32
            minimum: 0
        - in: query
          required: false
          name: limit
          description: An integer that specifies the maximum number of transactions to return. Default of 1000.
          schema:
            type: integer
            format: int32
            minimum: 1
        - in: query
          required: false
          name: type
          description: |
            Optional comma separated list of transaction types to filter by. SnapTrade does a best effort to categorize brokerage transaction types into a common set of values. Here are some of the most popular values:
              - `BUY` - Asset bought.
              - `SELL` - Asset sold.
              - `DIVIDEND` - Dividend payout.
              - `CONTRIBUTION` - Cash contribution.
              - `WITHDRAWAL` - Cash withdrawal.
              - `REI` - Dividend reinvestment.
              - `STOCK_DIVIDEND` - A type of dividend where a company distributes shares instead of cash
              - `INTEREST` - Interest deposited into the account.
              - `FEE` - Fee withdrawn from the account.
              - `OPTIONEXPIRATION` - Option expiration event.
              - `OPTIONASSIGNMENT` - Option assignment event.
              - `OPTIONEXERCISE` - Option exercise event.
              - `TRANSFER` - Transfer of assets from one account to another
          schema:
            type: string
            example: BUY,SELL,DIVIDEND
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedUniversalActivity"
        default:
          description: Unexpected error
  /authorizations/{authorizationId}/returnRates:
    get:
      tags:
        - Connections
      summary: List connection rate of returns
      operationId: Connections_returnRates
      description: |
        Returns a list of rate of return percents for a given connection. Will include timeframes available from the brokerage, for example "ALL", "1Y", "6M", "3M", "1M"
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: authorizationId
          required: true
          schema:
            $ref: "#/components/schemas/BrokerageAuthID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateOfReturnResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FeatureNotEnabledResponse"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  "/accounts/{accountId}/quotes":
    get:
      tags:
        - Trading
      summary: Get equity symbol quotes
      description: Returns quotes from the brokerage for the specified symbols and account. The quotes returned can be delayed depending on the brokerage the account belongs to. It is highly recommended that you use your own market data provider for real-time quotes instead of relying on this endpoint. This endpoint does not work for options quotes.
      operationId: Trading_getUserAccountQuotes
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: query
          name: symbols
          required: true
          description: List of Universal Symbol IDs or tickers to get quotes for. When providing multiple values, use a comma as separator
          schema:
            type: string
        - in: query
          name: use_ticker
          description: Should be set to `True` if `symbols` are comprised of tickers. Defaults to `False` if not provided.
          schema:
            type: boolean
        - in: path
          name: accountId
          required: true
          schema:
            $ref: "#/components/schemas/AccountID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SymbolsQuotes"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  "/accounts/{accountId}/orders/cancel":
    post:
      deprecated: true
      tags:
        - Trading
      summary: Cancel equity order
      description: |
        **This endpoint is deprecated. Please switch to [the new cancel order endpoint](/reference/Trading/Trading_cancelOrder) **
        Attempts to cancel an open order with the brokerage. If the order is no longer cancellable, the request will be rejected.
      operationId: Trading_cancelUserAccountOrder
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          schema:
            $ref: "#/components/schemas/AccountID"
      requestBody:
        $ref: "#/components/requestBodies/CancelOrderRequestBody"
      responses:
        "200":
          description: Order Record of canceled order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountOrderRecord"
        "400":
          description:
            Unable to cancel open order. Please verify status in brokerage
            account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  "/accounts/{accountId}/symbols":
    post:
      tags:
        - Reference Data
      summary: Search account symbols
      description: |
        Returns a list of Universal Symbol objects that match the given query. The matching takes into consideration both the ticker and the name of the symbol. Only the first 20 results are returned.

        The search results are further limited to the symbols supported by the brokerage for which the account is under.
      operationId: ReferenceData_symbolSearchUserAccount
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          schema:
            $ref: "#/components/schemas/AccountID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SymbolQuery"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: A list of Universal Symbol objects that match the given query.
                items:
                  $ref: "#/components/schemas/UniversalSymbol"
        default:
          description: Unexpected Error
  "/accounts/{accountId}/options":
    get:
      tags:
        - Options
      summary: List account option positions
      description: |
        Returns a list of option positions in the specified account. For stock/ETF/crypto/mutual fund positions, please use the [positions endpoint](/reference/Account%20Information/AccountInformation_getUserAccountPositions).

        The data returned here is cached. How long the data is cached for varies by brokerage. Check the [brokerage integrations doc](https://snaptrade.notion.site/66793431ad0b416489eaabaf248d0afb?v=d16c4c97b8d5438bbb2d8581ac53b11e) and look for "Cache Expiry Time" to see the exact value for a specific brokerage. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      operationId: Options_listOptionHoldings
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          schema:
            $ref: "#/components/schemas/AccountID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OptionsPosition"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  "/accounts/{accountId}/optionsChain":
    get:
      tags:
        - Options
      summary: Get the options chain for a symbol
      description: Returns the option chain for the specified symbol in the specified account.
      operationId: Options_getOptionsChain
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          description: The ID of the account to get the options chain from.
          schema:
            type: string
            format: uuid
        - in: query
          name: symbol
          required: true
          description: Universal symbol ID if symbol
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: List of all Options available for the brokerage symbol
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OptionChain"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  "/accounts/{accountId}/optionStrategy":
    post:
      tags:
        - Options
      summary: Create options strategy
      description: |
        Creates an option strategy object that will be used to place an option strategy order.
      operationId: Options_getOptionStrategy
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          description: The ID of the account to create the option strategy object in.
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: "#/components/requestBodies/OptionStrategyRequestBody"

      responses:
        "200":
          description: Order Quotes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StrategyQuotes"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"

  /accounts/{accountId}/optionStrategy/{optionStrategyId}:
    get:
      tags:
        - Options
      summary: Get options strategy quotes
      description: |
        Returns a Strategy Quotes object which has latest market data of the specified option strategy.
      operationId: Options_getOptionsStrategyQuote
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          description: The ID of the account the strategy will be placed in.
          schema:
            type: string
            format: uuid
        - in: path
          required: true
          name: optionStrategyId
          description: Option strategy id obtained from response when creating option strategy object
          schema:
            $ref: "#/components/schemas/Id"
      responses:
        "200":
          description: Order Quotes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StrategyQuotes"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"

  "/accounts/{accountId}/optionStrategy/{optionStrategyId}/execute":
    post:
      tags:
        - Options
      summary: Place an option strategy order
      description: Places the option strategy order and returns the order record received from the brokerage.
      operationId: Options_placeOptionStrategy
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          name: accountId
          required: true
          description: The ID of the account to execute the strategy in.
          schema:
            $ref: "#/components/schemas/Id"
        - in: path
          name: optionStrategyId
          required: true
          description: Option strategy id obtained from response when creating option strategy object
          schema:
            $ref: "#/components/schemas/Id"
      requestBody:
        $ref: "#/components/requestBodies/OrderStrategyExecuteBody"

      responses:
        "200":
          description: Status of strategy order placed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StrategyOrderRecord"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500UnexpectedExceptionResponse"
  "/authorizations":
    get:
      tags:
        - Connections
      summary: List all connections
      description: |
        Returns a list of all connections for the specified user. Note that `Connection` and `Brokerage Authorization` are interchangeable, but the term `Connection` is preferred and used in the doc for consistency.

        A connection is usually tied to a single login at a brokerage. A single connection can contain multiple brokerage accounts.

        SnapTrade performs de-duping on connections for a given user. If the user has an existing connection with the brokerage, when connecting the brokerage with the same credentials, SnapTrade will return the existing connection instead of creating a new one.
      operationId: Connections_listBrokerageAuthorizations
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                description: A list of all connections for the specified user.
                type: array
                items:
                  $ref: "#/components/schemas/BrokerageAuthorization"
        default:
          description: Unexpected error.
  "/authorizations/{authorizationId}":
    get:
      tags:
        - Connections
      summary: Get connection detail
      description: Returns a single connection for the specified ID.
      operationId: Connections_detailBrokerageAuthorization
      parameters:
        - in: path
          name: authorizationId
          required: true
          schema:
            $ref: "#/components/schemas/BrokerageAuthID"
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrokerageAuthorization"
        default:
          description: Unexpected error.
    delete:
      tags:
        - Connections
      summary: Delete connection
      description: Deletes the connection specified by the ID. This will also delete all accounts and holdings associated with the connection. This action is irreversible. This endpoint is synchronous, a 204 response indicates that the connection has been successfully deleted.
      operationId: Connections_removeBrokerageAuthorization
      parameters:
        - in: path
          name: authorizationId
          required: true
          schema:
            $ref: "#/components/schemas/BrokerageAuthID"
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "204":
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
        default:
          description: Unexpected error
  "/authorizations/{authorizationId}/refresh":
    post:
      tags:
        - Connections
      summary: Refresh holdings for a connection
      description: |
        Trigger a holdings update for all accounts under this connection. Updates will be queued asynchronously. [`ACCOUNT_HOLDINGS_UPDATED` webhook](/docs/webhooks#webhooks-account_holdings_updated) will be sent once the sync completes for each account under the connection.
        This endpoint will also trigger a transaction sync for the past day if one has not yet occurred.

        **Please contact support before use. Because of the cost of refreshing a connection, each call to this endpoint incurs a additional charge of $0.05**
      operationId: Connections_refreshBrokerageAuthorization
      parameters:
        - in: path
          name: authorizationId
          required: true
          schema:
            $ref: "#/components/schemas/BrokerageAuthID"
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrokerageAuthorizationRefreshConfirmation"
        "401":
          description: Unauthorized, invalid credentials for this resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/401FailedRequestResponse"
        "402":
          description: Unable to sync with brokerage account because the connection is disabled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/402BrokerageAuthDisabledResponse"
        "403":
          description: Customer or user does not have access to this feature
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FeatureNotEnabledResponse"
        "404":
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/404FailedRequestResponse"
  "/authorizations/{authorizationId}/disable":
    post:
      tags:
        - Connections
      summary: Force disable connection
      description: |
        Manually force the specified connection to become disabled. This should only be used for testing a reconnect flow, and never used on production connections.
        Will trigger a disconnect as if it happened naturally, and send a [`CONNECTION_BROKEN` webhook](/docs/webhooks#webhooks-connection_broken) for the connection.

        This endpoint is available on test keys. If you would like it enabled on production keys as well, please contact support as it is disabled by default.
      operationId: Connections_disableBrokerageAuthorization
      parameters:
        - in: path
          name: authorizationId
          required: true
          schema:
            $ref: "#/components/schemas/BrokerageAuthID"
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrokerageAuthorizationDisabledConfirmation"
        "401":
          description: Unauthorized, invalid credentials for this resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/401FailedRequestResponse"
        "402":
          description: Unable to sync with brokerage account because the connection is disabled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/402BrokerageAuthAlreadyDisabledException"
        "403":
          description: Customer or user does not have access to this feature
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FeatureNotEnabledResponse"
        "404":
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/404FailedRequestResponse"

  "/sessionEvents":
    get:
      tags:
        - Connections
      summary: Get all session events for a user
      description: Returns a list of session events associated with a user.
      operationId: Connections_sessionEvents
      parameters:
        - in: query
          required: true
          name: PartnerClientId
          schema:
            $ref: "#/components/schemas/ClientID"
        - in: query
          required: false
          name: userId
          description:
            Optional comma separated list of user IDs used to filter the
            request on specific users
          schema:
            $ref: "#/components/schemas/AccountIDs"
        - in: query
          required: false
          name: sessionId
          description:
            Optional comma separated list of session IDs used to filter the
            request on specific users
          schema:
            $ref: "#/components/schemas/AccountIDs"
      responses:
        "200":
          description: A list of all Session Events for the Partner.
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: "#/components/schemas/SessionEvent"
        default:
          description: Unexpected error.
  "/brokerages":
    get:
      tags:
        - Reference Data
      summary: Get brokerages
      description: Returns a list of all defined Brokerage objects.
      operationId: ReferenceData_listAllBrokerages
      parameters: []
      responses:
        "200":
          description: A list of all defined Brokerage objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Brokerage"
        default:
          description: Unexpected error.
  "/brokerages/{brokerageId}/instruments":
    get:
      tags:
        - Reference Data
      summary: Get brokerage instruments
      description: Returns a list of all brokerage instruments available for a given brokerage. Not all brokerages support this. The ones that don't will return an empty list.
      operationId: ReferenceData_listAllBrokerageInstruments
      parameters:
        - in: path
          required: true
          name: brokerageId
          schema:
            $ref: "#/components/schemas/BrokerageID"
      responses:
        "200":
          description: A list of brokerage instruments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrokerageInstrumentsResponse"
        default:
          description: Unexpected error.
  "/brokerageAuthorizationTypes":
    get:
      tags:
        - Reference Data
      summary: Get all brokerage authorization types
      description: Returns a list of all defined Brokerage authorization Type objects.
      operationId: ReferenceData_listAllBrokerageAuthorizationType
      parameters:
        - in: query
          required: false
          name: brokerage
          schema:
            type: string
            example: QUESTRADE,ALPACA
          description: Comma separated value of brokerage slugs
      responses:
        "200":
          description: A list of all defined Brokerage Authorization Type objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BrokerageAuthorizationTypeReadOnly"
        default:
          description: Unexpected error.
  /currencies:
    get:
      tags:
        - Reference Data
      summary: Get currencies
      description: Returns a list of all defined Currency objects.
      operationId: ReferenceData_listAllCurrencies
      parameters: []
      responses:
        "200":
          description: A list of all currencies.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Currency"
        default:
          description: Unexpected error.
  /currencies/rates:
    get:
      tags:
        - Reference Data
      summary: Get currency exchange rates
      description: Returns a list of all Exchange Rate Pairs for all supported Currencies.
      operationId: ReferenceData_listAllCurrenciesRates
      parameters: []
      responses:
        "200":
          description: A list of all exchange rates pairs for supported currencies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ExchangeRatePairs"
  /currencies/rates/{currencyPair}:
    get:
      tags:
        - Reference Data
      summary: Get exchange rate of a currency pair
      description: Returns an Exchange Rate Pair object for the specified Currency Pair.
      operationId: ReferenceData_getCurrencyExchangeRatePair
      parameters:
        - in: path
          name: currencyPair
          required: true
          description: A currency pair based on currency code for example, {CAD-USD}
          schema:
            type: string
      responses:
        "200":
          description: A list of all exchange rates pairs for supported currencies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeRatePairs"
  /exchanges:
    get:
      tags:
        - Reference Data
      summary: Get exchanges
      description: Returns a list of all supported Exchanges.
      operationId: ReferenceData_getStockExchanges
      parameters: []
      responses:
        "200":
          description: A list of all supported stock exchanges
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Exchange"
  /securityTypes:
    get:
      tags:
        - Reference Data
      summary: List security types
      operationId: ReferenceData_getSecurityTypes
      description: Return all available security types supported by SnapTrade.
      parameters: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SecurityType"
        default:
          description: Unexpected Error
  /symbols:
    post:
      tags:
        - Reference Data
      summary: Search symbols
      description: |
        Returns a list of Universal Symbol objects that match the given query. The matching takes into consideration both the ticker and the name of the symbol. Only the first 20 results are returned.
      operationId: ReferenceData_getSymbols
      parameters: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: A list of Universal Symbol objects that match the given query.
                items:
                  $ref: "#/components/schemas/UniversalSymbol"
        default:
          description: Unexpected Error
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SymbolQuery"
  /symbols/{query}:
    get:
      tags:
        - Reference Data
      summary: Get symbol detail
      description: |
        Returns the Universal Symbol object specified by the ticker or the Universal Symbol ID. When a ticker is specified, the first matching result is returned. We largely follow the [Yahoo Finance ticker format](https://help.yahoo.com/kb/SLN2310.html)(click on "Yahoo Finance Market Coverage and Data Delays"). For example, for securities traded on the Toronto Stock Exchange, the symbol has a '.TO' suffix. For securities traded on NASDAQ or NYSE, the symbol does not have a suffix. Please use the ticker with the proper suffix for the best results.
      operationId: ReferenceData_getSymbolsByTicker
      parameters:
        - in: path
          name: query
          required: true
          description: The ticker or Universal Symbol ID to look up the symbol with.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UniversalSymbol"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/404FailedRequestResponse"
        default:
          description: Unexpected Error
  /trade/place:
    post:
      tags:
        - Trading
      summary: Place equity order
      description: |
        Places a brokerage order in the specified account. The order could be rejected by the brokerage if it is invalid or if the account does not have sufficient funds.

        This endpoint does not compute the impact to the account balance from the order and any potential commissions before submitting the order to the brokerage. If that is desired, you can use the [check order impact endpoint](/reference/Trading/Trading_getOrderImpact).

        It's recommended to trigger a manual refresh of the account after placing an order to ensure the account is up to date. You can use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint for this.
      operationId: Trading_placeForceOrder
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      requestBody:
        $ref: "#/components/requestBodies/ManualTradeFormRequestBodyWithOptions"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountOrderRecord"
        "400":
          description: Trade could not be placed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "403":
          description: User does not have permissions to place trades
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FailedRequestResponse"
        "500":
          description: Unexpected Error
  /accounts/{accountId}/trading/bracket:
    post:
      tags:
        - Trading
      summary: Place bracket equity order
      description: |
        Places a bracket order (entry order + OCO of stop loss and take profit). Disabled by default please contact support for
        use. Only supported on certain brokerages
      operationId: Trading_placeBracketOrder
      parameters:
        - in: path
          name: accountId
          required: true
          description: The ID of the account to execute the trade on.
          schema:
            $ref: "#/components/schemas/AccountID"
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      requestBody:
        $ref: "#/components/requestBodies/ManualTradeFormRequestBodyBracket"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountOrderRecord"
        "400":
          description: Trade could not be placed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "403":
          description: User does not have permissions to place trades
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FailedRequestResponse"
        "500":
          description: Unexpected Error
  /accounts/{accountId}/trading/replace:
    post:
      tags:
        - Trading
      summary: Replace equity order
      description: |
        Replaces an existing pending order with a new one. The way this works is brokerage dependent, but usually involves cancelling
        the existing order and placing a new one. The order's brokerage_order_id may or may not change, be sure to use the one
        returned in the response going forward. Only supported on some brokerages
      operationId: Trading_replaceOrder
      parameters:
        - in: path
          name: accountId
          required: true
          description: The ID of the account to execute the trade on.
          schema:
            $ref: "#/components/schemas/Id"
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      requestBody:
        $ref: "#/components/requestBodies/ManualTradeReplaceFormRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountOrderRecord"
        "400":
          description: Trade could not be placed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "403":
          description: User does not have permissions to place trades
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FailedRequestResponse"
        "500":
          description: Unexpected Error
  /trade/impact:
    post:
      tags:
        - Trading
      summary: Check equity order impact
      description: Simulates an order and its impact on the account. This endpoint does not place the order with the brokerage. If successful, it returns a `Trade` object and the ID of the object can be used to place the order with the brokerage using the [place checked order endpoint](/reference/Trading/Trading_placeOrder). Please note that the `Trade` object returned expires after 5 minutes. Any order placed using an expired `Trade` will be rejected.
      operationId: Trading_getOrderImpact
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      requestBody:
        $ref: "#/components/requestBodies/ManualTradeFormRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManualTradeAndImpact"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/403FailedRequestResponse"
        "500":
          description: Unexpected Error
  /trade/{tradeId}:
    post:
      tags:
        - Trading
      summary: Place checked equity order
      description: |
        Places the previously checked order with the brokerage. The `tradeId` is obtained from the [check order impact endpoint](/reference/Trading/Trading_getOrderImpact). If you prefer to place the order without checking for impact first, you can use the [place order endpoint](/reference/Trading/Trading_placeForceOrder).

        It's recommended to trigger a manual refresh of the account after placing an order to ensure the account is up to date. You can use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint for this.
      operationId: Trading_placeOrder
      parameters:
        - in: path
          name: tradeId
          required: true
          description: Obtained from calling the [check order impact endpoint](/reference/Trading/Trading_getOrderImpact)
          schema:
            $ref: "#/components/schemas/TradeID"
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      requestBody:
        $ref: "#/components/requestBodies/ValidatedTradeRequestBody"
      responses:
        "200":
          description: Status of order placed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountOrderRecord"
        "400":
          description: Failed to submit order to broker
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "500":
          description: Unexpected Error

  /accounts/{accountId}/trading/crypto:
    post:
      tags:
        - Trading
      summary: Place crypto order
      description: |
        Places an order in the specified account.
        This endpoint does not compute the impact to the account balance from the order before submitting the order.
      operationId: Trading_placeCryptoOrder
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          required: true
          name: accountId
          schema:
            $ref: "#/components/schemas/AccountID"
      requestBody:
        $ref: "#/components/requestBodies/CryptoOrderRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderUpdatedResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "500":
          description: Unexpected Error
  /accounts/{accountId}/trading/cancel:
    post:
      tags:
        - Trading
      summary: Cancel order
      description: |
        Cancels an order in the specified account. Accepts order IDs for all asset types.
      operationId: Trading_cancelOrder
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          required: true
          name: accountId
          schema:
            $ref: "#/components/schemas/AccountID"
      requestBody:
        $ref: "#/components/requestBodies/CancelOrderRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelOrderResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "500":
          description: Unexpected Error
  /accounts/{accountId}/trading/crypto/preview:
    post:
      tags:
        - Trading
      summary: Preview crypto order
      description: |
        Previews an order using the specified account.
      operationId: Trading_previewCryptoOrder
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          required: true
          name: accountId
          schema:
            $ref: "#/components/schemas/AccountID"
      requestBody:
        $ref: "#/components/requestBodies/CryptoOrderRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CryptoOrderPreview"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "500":
          description: Unexpected Error
  /accounts/{accountId}/trading/instruments/cryptocurrencyPairs:
    get:
      tags:
        - Trading
      summary: Get crypto pairs
      description: |
        Searches cryptocurrency pairs instruments accessible to the specified account.
      operationId: Trading_searchCryptocurrencyPairInstruments
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          required: true
          name: accountId
          schema:
            $ref: "#/components/schemas/AccountID"
        - in: query
          required: false
          name: base
          schema:
            $ref: "#/components/schemas/CryptocurrencyBaseSymbol"
        - in: query
          required: false
          name: quote
          schema:
            $ref: "#/components/schemas/CryptocurrencyQuoteSymbol"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: ["items"]
                description: The instruments
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/CryptocurrencyPair"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "500":
          description: Unexpected Error
  /accounts/{accountId}/trading/instruments/cryptocurrencyPairs/{instrumentSymbol}/quote:
    get:
      tags:
        - Trading
      summary: Get crypto pair quote
      description: |
        Gets a quote for the specified account.
      operationId: Trading_getCryptocurrencyPairQuote
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          required: true
          name: accountId
          schema:
            $ref: "#/components/schemas/AccountID"
        - in: path
          required: true
          name: instrumentSymbol
          schema:
            $ref: "#/components/schemas/CryptocurrencyPairSymbol"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CryptocurrencyPairQuote"

        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "500":
          description: Unexpected Error

  /accounts/{accountId}/trading/options:
    post:
      tags:
        - Trading
      summary: Place option order
      description: |
        Places a multi-leg option order. Only supported on certain option trading brokerages. https://snaptrade.notion.site/brokerages has information on brokerage trading support
      operationId: Trading_placeMlegOrder
      parameters:
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
        - in: path
          required: true
          name: accountId
          schema:
            $ref: "#/components/schemas/AccountID"
      requestBody:
        $ref: "#/components/requestBodies/MlegOrderRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MlegOrderResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FailedRequestResponse"
        "500":
          description: Unexpected Error

  /activities:
    get:
      deprecated: true
      tags:
        - Transactions And Reporting
      summary: Get transaction history for a user
      operationId: TransactionsAndReporting_getActivities
      description: |
        This endpoint is being deprecated but will continue to be available for use via SDKs, please use [the account level endpoint](/reference/Account%20Information/AccountInformation_getAccountActivities) if possible

        Returns all historical transactions for the specified user and filtering criteria. It's recommended to use `startDate` and `endDate` to paginate through the data, as the response may be very large for accounts with a long history and/or a lot of activity. There's a max number of 10000 transactions returned per request.

        There is no guarantee to the ordering of the transactions returned. Please sort the transactions based on the `trade_date` field if you need them in a specific order.

        The data returned here is always cached and refreshed once a day.
      parameters:
        - in: query
          required: false
          name: startDate
          description: The start date (inclusive) of the transaction history to retrieve. If not provided, the default is the first transaction known to SnapTrade based on `trade_date`.
          schema:
            $ref: "#/components/schemas/ReportingDate"
        - in: query
          required: false
          name: endDate
          description: The end date (inclusive) of the transaction history to retrieve. If not provided, the default is the last transaction known to SnapTrade based on `trade_date`.
          schema:
            $ref: "#/components/schemas/ReportingDate"
        - in: query
          required: false
          name: accounts
          description: Optional comma separated list of SnapTrade Account IDs used to filter the request to specific accounts. If not provided, the default is all known brokerage accounts for the user. The `brokerageAuthorizations` parameter takes precedence over this parameter.
          schema:
            $ref: "#/components/schemas/AccountIDs"
        - in: query
          required: false
          name: brokerageAuthorizations
          description: Optional comma separated list of SnapTrade Connection (Brokerage Authorization) IDs used to filter the request to only accounts that belong to those connections. If not provided, the default is all connections for the user. This parameter takes precedence over the `accounts` parameter.
          schema:
            $ref: "#/components/schemas/BrokerageAuthIDs"
        - in: query
          required: false
          name: type
          description: |
            Optional comma separated list of transaction types to filter by. SnapTrade does a best effort to categorize brokerage transaction types into a common set of values. Here are some of the most popular values:
              - `BUY` - Asset bought.
              - `SELL` - Asset sold.
              - `DIVIDEND` - Dividend payout.
              - `CONTRIBUTION` - Cash contribution.
              - `WITHDRAWAL` - Cash withdrawal.
              - `REI` - Dividend reinvestment.
              - `INTEREST` - Interest deposited into the account.
              - `FEE` - Fee withdrawn from the account.
              - `OPTIONEXPIRATION` - Option expiration event.
              - `OPTIONASSIGNMENT` - Option assignment event.
              - `OPTIONEXERCISE` - Option exercise event.
              - `TRANSFER` - Transfer of assets from one account to another
          schema:
            type: string
            example: BUY,SELL,DIVIDEND
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UniversalActivity"
        default:
          description: Unexpected error
  /performance/custom:
    get:
      deprecated: true
      tags:
        - Transactions And Reporting
      summary: Get performance information for a specific timeframe
      operationId: TransactionsAndReporting_getReportingCustomRange
      description:
        Returns performance information (contributions, dividends, rate of
        return, etc) for a specific timeframe. Please note that Total Equity Timeframe and Rate of Returns are experimental features. Please contact support@snaptrade.com if you notice any inconsistencies.
      parameters:
        - in: query
          required: true
          name: startDate
          schema:
            $ref: "#/components/schemas/ReportingDate"
        - in: query
          required: true
          name: endDate
          schema:
            $ref: "#/components/schemas/ReportingDate"
        - in: query
          required: false
          name: accounts
          description:
            Optional comma separated list of account IDs used to filter the
            request on specific accounts
          schema:
            $ref: "#/components/schemas/AccountIDs"
        - in: query
          required: false
          name: detailed
          description:
            Optional, increases frequency of data points for the total value
            and contribution charts if set to true
          schema:
            type: boolean
            example: true
        - in: query
          required: false
          name: frequency
          description:
            Optional frequency for the rate of return chart (defaults to
            monthly). Possible values are daily, weekly, monthly, quarterly,
            yearly.
          schema:
            $ref: "#/components/schemas/ReportingFrequency"
        - in: query
          required: true
          name: userId
          schema:
            $ref: "#/components/schemas/UserID"
        - in: query
          required: true
          name: userSecret
          schema:
            $ref: "#/components/schemas/UserSecret"
      responses:
        "200":
          description: Successfully retrieved performance data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PerformanceCustom"
        default:
          description: Unexpected error
  /connectionAdded:
    post:
      tags:
        - Webhooks
      operationId: Webhooks_connectionAdded
      description: A webhook that is sent whenever a new connection is added.
      requestBody:
        description: Information about a new connection in the system
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookBase"
      responses:
        "200":
          description: Return a 200 status to indicate that the connection was successful
        "201":
          description: Return a 201 status to indicate that the connection was successful
  /connectionDeleted:
    post:
      tags:
        - Webhooks
      operationId: Webhooks_connectionDeleted
      description: A webhook that is sent whenever an existing connection is deleted.
      requestBody:
        description: Information about the deleted connection
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookBase"
      responses:
        "200":
          description:
            Return a 200 status to indicate that the connection was deleted
            successfully
        "201":
          description: Return a 201 status to indicate that the connection was deleted
  /userRegistered:
    post:
      tags:
        - Webhooks
      operationId: Webhooks_userRegistered
      description: A webhook that is sent whenever a user is newly registered.
      requestBody:
        description: Information about the newly registered user
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookBase"
      responses:
        "200":
          description:
            Return a 200 status to indicate that the user was registered
            successfully
        "201":
          description: Return a 201 status to indicate that user was registered
            successfully
  /userDeleted:
    post:
      tags:
        - Webhooks
      operationId: Webhooks_userDeleted
      description: A webhook that is sent whenever an existing user is deleted.
      requestBody:
        description: Information about the deleted user
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookBase"
      responses:
        "200":
          description: Return a 200 status to indicate that the user was deleted
            successfully
        "201":
          description: Return a 201 status to indicate that the connection was successful
  /accountAdded:
    post:
      tags:
        - Webhooks
      operationId: Webhooks_accountAdded
      description: A webhook that is sent whenever a new account is added to an existing brokerage authorization.
      requestBody:
        description: Information about the newly added account
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookBase"
      responses:
        "200":
          description:
            Return a 200 status to indicate that the account was added
            successfully
        "201":
          description:
            Return a 201 status to indicate that the account was added
            successfully
  /accountDeleted:
    post:
      tags:
        - Webhooks
      operationId: Webhooks_accountDeleted
      description: A webhook that is sent whenever an existing account under a brokerage authorization is deleted.
      requestBody:
        description: Information about the deleted account
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookBase"
      responses:
        "200":
          description:
            Return a 200 status to indicate that the account was deleted
            successfully
        "201":
          description:
            Return a 201 status to indicate that the account was deleted
            successfully
  /transactionsUpdated:
    post:
      tags:
        - Webhooks
      operationId: Webhooks_updatedTransactions
      description: A webhook that is sent whenever transactions have been updated for an account.
      requestBody:
        description: Information about the account for which transactions have been updated
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookBase"
      responses:
        "200":
          description: Return a 200 status to indicate that the update was successful
        "201":
          description: Return a 201 status to indicate the update was successful
components:
  securitySchemes:
    PartnerSignature:
      type: apiKey
      in: header
      name: Signature
    PartnerClientId:
      type: apiKey
      in: query
      name: clientId
    PartnerTimestamp:
      type: apiKey
      in: query
      name: timestamp
  requestBodies:
    RegisterUserRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SnapTradeRegisterUserRequestBody"
    ResetUserSecretRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UserIDandSecret"
    SnapTradeLoginUserRequestBody:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SnapTradeLoginUserRequestBody"
    ManualTradeFormRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ManualTradeForm"
    ManualTradeFormRequestBodyWithOptions:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ManualTradeFormWithOptions"
    ManualTradeFormRequestBodyBracket:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ManualTradeFormBracket"
    ManualTradeReplaceFormRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ManualTradeReplaceForm"
    ValidatedTradeRequestBody:
      required: false
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ValidatedTradeBody"
    CancelOrderRequestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              brokerage_order_id:
                $ref: "#/components/schemas/BrokerageOrderID"
    OptionStrategyRequestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: ["underlying_symbol_id", "legs", "strategy_type"]
            properties:
              underlying_symbol_id:
                $ref: "#/components/schemas/Id"
              legs:
                type: array
                items:
                  $ref: "#/components/schemas/OptionLeg"
              strategy_type:
                type: string
                enum:
                  - CUSTOM

    OrderStrategyExecuteBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: ["order_type", "time_in_force"]
            properties:
              order_type:
                $ref: "#/components/schemas/OrderTypeStrict"
              time_in_force:
                $ref: "#/components/schemas/TimeInForceStrict"
              price:
                $ref: "#/components/schemas/Price"

    SimpleOrderRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SimpleOrderForm"
    CryptoOrderRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CryptoOrderForm"
    MlegOrderRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/MlegTradeForm"

  schemas:
    400FailedRequestResponse:
      description: Example for failed request response
      type: object
      properties:
        default_detail:
          example: Unable to verify data sent
        default_code:
          example: 1076
    401FailedRequestResponse:
      description: Example for failed request response
      type: object
      properties:
        default_detail:
          example: Unable to verify signature sent
        default_code:
          example: 1076
    402BrokerageAuthDisabledResponse:
      description: Cannot perform action because connection is disabled
      type: object
      properties:
        detail:
          example: Unable to sync with brokerage account because the connection is disabled.
        code:
          example: 3003
    402BrokerageAuthAlreadyDisabledException:
      description: This connection is already disabled.
      type: object
      properties:
        detail:
          example: This connection is already disabled.
        code:
          example: 3011
    403FailedRequestResponse:
      description: Example for failed request response
      type: object
      properties:
        default_detail:
          example: User does not have permission to access this resource
        default_code:
          example: 1066
    403FeatureNotEnabledResponse:
      description: Example for failed request response
      type: object
      properties:
        detail:
          example: Feature is not enabled for this customer or this connection
        default_code:
          example: 1141
    404FailedRequestResponse:
      description: Example for failed request response
      type: object
      properties:
        default_detail:
          example: The requested resource does not exist.
        default_code:
          example: 1011
    425FailedRequestResponse:
      description: Example for failed request response
      type: object
      properties:
        detail:
          example: The resource is currently being populated. Please try again later.
        code:
          example: 3012
    500UnexpectedExceptionResponse:
      description: Example for a response that failed for unexpected reasons
      type: object
      properties:
        detail:
          example: Encountered an unexpected exception.
        status_code:
          example: 500
        code:
          example: 1000
    AccountSyncStatus:
      description: Contains status update for the account sync process between SnapTrade and the brokerage.
      properties:
        transactions:
          $ref: "#/components/schemas/TransactionsStatus"
        holdings:
          $ref: "#/components/schemas/HoldingsStatus"
    TransactionsStatus:
      description: |
        Status of account transaction sync. SnapTrade syncs transactions from the brokerage under the following conditions:
        1. Initial connection - SnapTrade syncs all transactions from the brokerage account as far back as the brokerage allows. Check [our integrations doc](https://snaptrade.notion.site/66793431ad0b416489eaabaf248d0afb?v=6fab8012ade6441fa0c6d9af9c55ce3a) for details on how far back we sync for each brokerage.
        2. Daily sync - Once a day SnapTrade syncs new transactions from the brokerage.
        3. Manual sync - You can retrigger an incremental sync of transactions with the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint.
      properties:
        initial_sync_completed:
          description: Indicates if the initial sync of transactions has been completed. For accounts with a large number of transactions, the initial sync may take a while to complete.
          type: boolean
          example: true
        last_successful_sync:
          description: All transactions up to this date have been successfully synced. Please note that this is not the date of the last transaction, nor the last time SnapTrade attempted to sync transactions.
          nullable: true
          allOf:
            - $ref: "#/components/schemas/SyncStatusDate"
        first_transaction_date:
          description: The date of the first transaction in the account known to SnapTrade. It's possible that the account has transactions before this date, but they are not known to SnapTrade.
          nullable: true
          allOf:
            - $ref: "#/components/schemas/SyncStatusDate"
    HoldingsStatus:
      description: |
        Status of account holdings sync. SnapTrade syncs holdings from the brokerage under the following conditions:
        1. Initial connection - SnapTrade syncs all holdings (positions, balances, recent orders, and transactions) immediately after the connection is established.
        2. Daily sync - Once a day SnapTrade refreshes all holdings from the brokerage.
        3. Manual sync - You can trigger a refresh of holdings with the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint.
      properties:
        initial_sync_completed:
          description: Indicates if the initial sync of holdings has been completed. For accounts with a large number of positions/orders/transactions, the initial sync may take a while to complete.
          type: boolean
          example: true
        last_successful_sync:
          description: The last time holdings were successfully synced by SnapTrade.
          nullable: true
          allOf:
            - $ref: "#/components/schemas/HoldingsSyncStatusDate"
    AccountBalance:
      description: Contains balance related information for the account.
      properties:
        total:
          description: Total market value of this account (includes cash, equity, fixed income, etc). This value is directly obtained from the brokerage and should reflect the most accurate value of the account.
          nullable: true
          properties:
            amount:
              type: number
              description: Total value denominated in the currency of the `currency` field.
              example: 15363.23
            currency:
              type: string
              description: The ISO-4217 currency code for the amount.
              example: USD
    Account:
      description: A single account at a brokerage.
      type: object
      required:
        - id
        - brokerage_authorization
        - name
        - number
        - institution_name
        - created_date
        - sync_status
        - balance
      properties:
        id:
          description: Unique identifier for the connected brokerage account. This is the UUID used to reference the account in SnapTrade. This ID should not change for as long as the connection stays active. If the connection is deleted and re-added, a new account ID will be generated.
          allOf:
            - $ref: "#/components/schemas/AccountID"
        brokerage_authorization:
          $ref: "#/components/schemas/BrokerageAuthID"
        name:
          type: string
[...]
