openapi: 3.0.0
info:
  contact:
    email: api@snaptrade.com
    name: SnapTrade
    url: https://snaptrade.com/
  description: Connect brokerage accounts to your app for live positions and trading
  termsOfService: N/A
  title: SnapTrade
  version: 1.0.0
  x-konfig-ignore:
    potential-incorrect-type: true
  x-readme:
    explorer-enabled: false
servers:
- description: SnapTrade Production API
  url: https://api.snaptrade.com/api/v1
security:
- PartnerSignature: []
  PartnerClientId: []
  PartnerTimestamp: []
tags:
- description: Check whether the API is operational and verify timestamps.
  name: API Status
- description: Register and authenticate users with SnapTrade.
  name: Authentication
- description: Retrieve and manage user connections.
  name: Connections
- description: "Retrieve account information, such as positions, balances, etc."
  name: Account Information
- description: Endpoints to search for options prices and chains as well as place
    options trades if supported.
  name: Options
- description: "Retrieve information on account transactions, performance, dividends,\
    \ contributions, etc."
  name: Transactions And Reporting
- description: Manage orders on user accounts.
  name: Trading
- description: "Retrieve basic information for API use, such as supported brokerages,\
    \ exchanges, currencies, etc."
  name: Reference Data
paths:
  /:
    get:
      description: Check whether the API is operational and verify timestamps.
      operationId: ApiStatus_check
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: OK
        default:
          description: Unexpected Error
      security: []
      summary: Get API Status
      tags:
      - API Status
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--
      x-accepts: application/json
  /snapTrade/registerUser:
    post:
      description: |
        Registers a new SnapTrade user under your Client ID. A user secret will be automatically generated for you and must be properly stored in your system.
        Most SnapTrade operations require a user ID and user secret to be passed in as parameters.
      operationId: Authentication_registerSnapTradeUser
      requestBody:
        $ref: '#/components/requestBodies/RegisterUserRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIDandSecret'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404FailedRequestResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected Error
          x-do-not-generate: true
      summary: Register user
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--snapTrade-registerUser
      x-content-type: application/json
      x-accepts: application/json
  /snapTrade/login:
    post:
      description: |
        Authenticates a SnapTrade user and returns the Connection Portal URL used for connecting brokerage accounts. Please check [this guide](/docs/implement-connection-portal) for how to integrate the Connection Portal into your app.

        Please note that the returned URL expires in 5 minutes.
      operationId: Authentication_loginSnapTradeUser
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      requestBody:
        $ref: '#/components/requestBodies/SnapTradeLoginUserRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404FailedRequestResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Generate Connection Portal URL
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--snapTrade-login
      x-content-type: application/json
      x-accepts: application/json
  /snapTrade/listUsers:
    get:
      description: Returns a list of all registered user IDs. Please note that the
        response is not currently paginated.
      operationId: Authentication_listSnapTradeUsers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404FailedRequestResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected Error
          x-do-not-generate: true
      summary: List all users
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--snapTrade-listUsers
      x-accepts: application/json
  /snapTrade/deleteUser:
    delete:
      description: "Deletes a registered user and all associated data. This action\
        \ is irreversible. This API is asynchronous and will return a 200 status code\
        \ if the request is accepted. The user and all associated data will be queued\
        \ for deletion. Once deleted, a `USER_DELETED` webhook will be sent."
      operationId: Authentication_deleteSnapTradeUser
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteUserResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404FailedRequestResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Delete user
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--snapTrade-deleteUser
      x-accepts: application/json
  /snapTrade/resetUserSecret:
    post:
      description: |
        Rotates the secret for a SnapTrade user. You might use this if `userSecret` is compromised. Please note that if you call this endpoint and fail to save the new secret, you'll no longer be able to access any data for this user, and your only option will be to delete and recreate the user, then ask them to reconnect.
      operationId: Authentication_resetSnapTradeUserSecret
      requestBody:
        $ref: '#/components/requestBodies/ResetUserSecretRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIDandSecret'
          description: New user secret is generated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request. Could be caused by various reasons. Error message
            is provided in response
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401FailedRequestResponse'
          description: "Failed authentication. Wrong clientId, userId or userSecret\
            \ provided"
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: Rotate user secret
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--snapTrade-resetUserSecret
      x-content-type: application/json
      x-accepts: application/json
  /authorizations/{authorizationId}/returnRates:
    get:
      description: |
        Returns a list of rate of return percents for a given connection. Will include timeframes available from the brokerage, for example "ALL", "1Y", "6M", "3M", "1M"
      operationId: Connections_returnRates
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          $ref: '#/components/schemas/BrokerageAuthID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateOfReturnResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FeatureNotEnabledResponse'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: List connection rate of returns
      tags:
      - Connections
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--authorizations-authorizationId-returnRates
      x-accepts: application/json
  /authorizations:
    get:
      description: |
        Returns a list of all connections for the specified user. Note that `Connection` and `Brokerage Authorization` are interchangeable, but the term `Connection` is preferred and used in the doc for consistency.

        A connection is usually tied to a single login at a brokerage. A single connection can contain multiple brokerage accounts.

        SnapTrade performs de-duping on connections for a given user. If the user has an existing connection with the brokerage, when connecting the brokerage with the same credentials, SnapTrade will return the existing connection instead of creating a new one.
      operationId: Connections_listBrokerageAuthorizations
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                description: A list of all connections for the specified user.
                items:
                  $ref: '#/components/schemas/BrokerageAuthorization'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: OK
        default:
          description: Unexpected error.
      summary: List all connections
      tags:
      - Connections
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--authorizations
      x-accepts: application/json
  /authorizations/{authorizationId}:
    delete:
      description: "Deletes the connection specified by the ID. This will also delete\
        \ all accounts and holdings associated with the connection. This action is\
        \ irreversible. This endpoint is synchronous, a 204 response indicates that\
        \ the connection has been successfully deleted."
      operationId: Connections_removeBrokerageAuthorization
      parameters:
      - explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          $ref: '#/components/schemas/BrokerageAuthID'
        style: simple
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "204":
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
        default:
          description: Unexpected error
      summary: Delete connection
      tags:
      - Connections
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--authorizations-authorizationId
      x-accepts: application/json
    get:
      description: Returns a single connection for the specified ID.
      operationId: Connections_detailBrokerageAuthorization
      parameters:
      - explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          $ref: '#/components/schemas/BrokerageAuthID'
        style: simple
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrokerageAuthorization'
          description: OK
        default:
          description: Unexpected error.
      summary: Get connection detail
      tags:
      - Connections
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--authorizations-authorizationId
      x-accepts: application/json
  /authorizations/{authorizationId}/refresh:
    post:
      description: |
        Trigger a holdings update for all accounts under this connection. Updates will be queued asynchronously. [`ACCOUNT_HOLDINGS_UPDATED` webhook](/docs/webhooks#webhooks-account_holdings_updated) will be sent once the sync completes for each account under the connection.
        This endpoint will also trigger a transaction sync for the past day if one has not yet occurred.

        **Please contact support before use. Because of the cost of refreshing a connection, each call to this endpoint incurs a additional charge of $0.05**
      operationId: Connections_refreshBrokerageAuthorization
      parameters:
      - explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          $ref: '#/components/schemas/BrokerageAuthID'
        style: simple
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrokerageAuthorizationRefreshConfirmation'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401FailedRequestResponse'
          description: "Unauthorized, invalid credentials for this resource"
          x-do-not-generate: true
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/402BrokerageAuthDisabledResponse'
          description: Unable to sync with brokerage account because the connection
            is disabled.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FeatureNotEnabledResponse'
          description: Customer or user does not have access to this feature
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404FailedRequestResponse'
          description: The requested resource does not exist.
          x-do-not-generate: true
      summary: Refresh holdings for a connection
      tags:
      - Connections
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--authorizations-authorizationId-refresh
      x-accepts: application/json
  /authorizations/{authorizationId}/disable:
    post:
      description: |
        Manually force the specified connection to become disabled. This should only be used for testing a reconnect flow, and never used on production connections.
        Will trigger a disconnect as if it happened naturally, and send a [`CONNECTION_BROKEN` webhook](/docs/webhooks#webhooks-connection_broken) for the connection.

        This endpoint is available on test keys. If you would like it enabled on production keys as well, please contact support as it is disabled by default.
      operationId: Connections_disableBrokerageAuthorization
      parameters:
      - explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          $ref: '#/components/schemas/BrokerageAuthID'
        style: simple
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrokerageAuthorizationDisabledConfirmation'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401FailedRequestResponse'
          description: "Unauthorized, invalid credentials for this resource"
          x-do-not-generate: true
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/402BrokerageAuthAlreadyDisabledException'
          description: Unable to sync with brokerage account because the connection
            is disabled.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FeatureNotEnabledResponse'
          description: Customer or user does not have access to this feature
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404FailedRequestResponse'
          description: The requested resource does not exist.
          x-do-not-generate: true
      summary: Force disable connection
      tags:
      - Connections
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--authorizations-authorizationId-disable
      x-accepts: application/json
  /sessionEvents:
    get:
      description: Returns a list of session events associated with a user.
      operationId: Connections_sessionEvents
      parameters:
      - explode: true
        in: query
        name: PartnerClientId
        required: true
        schema:
          $ref: '#/components/schemas/ClientID'
        style: form
      - description: Optional comma separated list of user IDs used to filter the
          request on specific users
        explode: true
        in: query
        name: userId
        required: false
        schema:
          $ref: '#/components/schemas/AccountIDs'
        style: form
      - description: Optional comma separated list of session IDs used to filter the
          request on specific users
        explode: true
        in: query
        name: sessionId
        required: false
        schema:
          $ref: '#/components/schemas/AccountIDs'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SessionEvent'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: A list of all Session Events for the Partner.
        default:
          description: Unexpected error.
      summary: Get all session events for a user
      tags:
      - Connections
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--sessionEvents
      x-accepts: application/json
  /accounts:
    get:
      description: |
        Returns all brokerage accounts across all connections known to SnapTrade for the authenticated user.

        The data returned here is always cached and refreshed once a day. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      operationId: AccountInformation_listUserAccounts
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                description: List of brokerage accounts across all connections.
                items:
                  $ref: '#/components/schemas/Account'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: OK
        default:
          description: Unexpected error.
      summary: List accounts
      tags:
      - Account Information
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts
      x-accepts: application/json
  /holdings:
    get:
      deprecated: true
      description: |
        **Deprecated, please use the account-specific holdings endpoint instead.**

        List all accounts for the user, plus balances, positions, and orders for each
        account.
      operationId: AccountInformation_getAllUserHoldings
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: Optional. Comma separated list of authorization IDs (only use
          if filtering is needed on one or more authorizations).
        explode: true
        in: query
        name: brokerage_authorizations
        required: false
        schema:
          example: 917c8734-8470-4a3e-a18f-57c3f2ee6631
          format: uuid
          type: string
          x-konfig-original-example: 917c8734-8470-4a3e-a18f-57c3f2ee6631
          x-konfig-generated-schema: konfig-generated-schema-paths--holdings-get-parameters-2-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccountHoldings'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: Returns list of accounts and holdings
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: Forbidden
          x-do-not-generate: true
        "425":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/425FailedRequestResponse'
          description: Too Early
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: "List all accounts for the user, plus balances, positions, and orders\
        \ for each account."
      tags:
      - Account Information
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--holdings
      x-accepts: application/json
  /accounts/{accountId}/holdings:
    get:
      description: |
        Returns a list of balances, positions, and recent orders for the specified account. The data returned is similar to the data returned over the more fine-grained [balances](/reference/Account%20Information/AccountInformation_getUserAccountBalance), [positions](/reference/Account%20Information/AccountInformation_getUserAccountPositions) and [orders](/reference/Account%20Information/AccountInformation_getUserAccountOrders) endpoints. __The finer-grained APIs are preferred. They are easier to work with, faster, and have better error handling than this coarse-grained API.__

        The data returned here is cached. How long the data is cached for varies by brokerage. Check the [brokerage integrations doc](https://snaptrade.notion.site/66793431ad0b416489eaabaf248d0afb?v=d16c4c97b8d5438bbb2d8581ac53b11e) and look for "Cache Expiry Time" to see the exact value for a specific brokerage. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      operationId: AccountInformation_getUserHoldings
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountHoldingsAccount'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: Forbidden
          x-do-not-generate: true
        "425":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/425FailedRequestResponse'
          description: Too Early
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: List account holdings
      tags:
      - Account Information
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-holdings
      x-accepts: application/json
  /accounts/{accountId}:
    get:
      description: |
        Returns account detail known to SnapTrade for the specified account.

        The data returned here is always cached and refreshed once a day. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      operationId: AccountInformation_getUserAccountDetails
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: OK
        default:
          description: Unexpected error
      summary: Get account detail
      tags:
      - Account Information
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId
      x-accepts: application/json
    put:
      description: Updates various properties of a specified account.
      operationId: AccountInformation_updateUserAccount
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account to update.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: Successfully updated details of an investment account
        default:
          description: Unexpected error
      summary: Update details of an investment account
      tags:
      - Account Information
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--accounts-accountId
      x-accepts: application/json
  /accounts/{accountId}/balances:
    get:
      description: |
        Returns a list of balances for the account. Each element of the list has a distinct currency. Some brokerages like Questrade [allows holding multiple currencies in the same account](https://www.questrade.com/learning/questrade-basics/balances-and-reports/understanding-your-account-balances).

        The data returned here is cached. How long the data is cached for varies by brokerage. Check the [brokerage integrations doc](https://snaptrade.notion.site/66793431ad0b416489eaabaf248d0afb?v=d16c4c97b8d5438bbb2d8581ac53b11e) and look for "Cache Expiry Time" to see the exact value for a specific brokerage. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      operationId: AccountInformation_getUserAccountBalance
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Balance'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: OK
        default:
          description: Unexpected error
      summary: List account balances
      tags:
      - Account Information
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-balances
      x-accepts: application/json
  /accounts/{accountId}/positions:
    get:
      description: |
        Returns a list of stock/ETF/crypto/mutual fund positions in the specified account. For option positions, please use the [options endpoint](/reference/Options/Options_listOptionHoldings).

        The data returned here is cached. How long the data is cached for varies by brokerage. Check the [brokerage integrations doc](https://snaptrade.notion.site/66793431ad0b416489eaabaf248d0afb?v=d16c4c97b8d5438bbb2d8581ac53b11e) and look for "Cache Expiry Time" to see the exact value for a specific brokerage. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      operationId: AccountInformation_getUserAccountPositions
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Position'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: OK
        default:
          description: Unexpected error
      summary: List account positions
      tags:
      - Account Information
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-positions
      x-accepts: application/json
  /accounts/{accountId}/orders:
    get:
      description: |
        Returns a list of recent orders in the specified account.

        The data returned here is cached. How long the data is cached for varies by brokerage. Check the [brokerage integrations doc](https://snaptrade.notion.site/66793431ad0b416489eaabaf248d0afb?v=d16c4c97b8d5438bbb2d8581ac53b11e) and look for "Cache Expiry Time" to see the exact value for a specific brokerage. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      operationId: AccountInformation_getUserAccountOrders
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: defaults value is set to "all"
        explode: true
        in: query
        name: state
        required: false
        schema:
          enum:
          - all
          - open
          - executed
          type: string
        style: form
      - description: Number of days in the past to fetch the most recent orders. Defaults
          to the last 30 days if no value is passed in.
        explode: true
        in: query
        name: days
        required: false
        schema:
          example: 30
          format: int32
          minimum: 1
          type: integer
          x-konfig-original-example: 30
          x-konfig-generated-schema: konfig-generated-schema-paths--accounts-accountId-orders-get-parameters-3-schema
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccountOrderRecord'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: List account orders
      tags:
      - Account Information
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-orders
      x-accepts: application/json
  /accounts/{accountId}/recentOrders:
    get:
      description: |
        A lightweight endpoint that returns a list of orders executed in the last 24 hours in the specified account.
        This endpoint is realtime and can be used to quickly check if account state has recently changed due to an execution, or check status of recently placed orders
        Differs from /orders in that it is realtime, and only checks the last 24 hours as opposed to the last 30 days
        By default only returns executed orders, but that can be changed by setting *only_executed* to false
        **Please contact support for access as this endpoint is not enabled by default.**
      operationId: AccountInformation_getUserAccountRecentOrders
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: Defaults to true. Indicates if request should fetch only executed
          orders. Set to false to retrieve non executed orders as well
        explode: true
        in: query
        name: only_executed
        required: false
        schema:
          type: boolean
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentOrdersResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FeatureNotEnabledResponse'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: List account recent orders (last 24 hours only)
      tags:
      - Account Information
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-recentOrders
      x-accepts: application/json
  /accounts/{accountId}/returnRates:
    get:
      description: |
        Returns a list of rate of return percents for a given account. Will include timeframes available from the brokerage, for example "ALL", "1Y", "6M", "3M", "1M"
      operationId: AccountInformation_getUserAccountReturnRates
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateOfReturnResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FeatureNotEnabledResponse'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: List account rate of returns
      tags:
      - Account Information
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-returnRates
      x-accepts: application/json
  /accounts/{accountId}/activities:
    get:
      description: |
        Returns all historical transactions for the specified account.

        This endpoint is paginated with a default page size of 1000. The endpoint will return a maximum of 1000 transactions per request. See the query parameters for pagination options.

        Transaction are returned in reverse chronological order, using the `trade_date` field.

        The data returned here is always cached and refreshed once a day.
      operationId: AccountInformation_getAccountActivities
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      - description: "The start date (inclusive) of the transaction history to retrieve.\
          \ If not provided, the default is the first transaction known to SnapTrade\
          \ based on `trade_date`."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          $ref: '#/components/schemas/ReportingDate'
        style: form
      - description: "The end date (inclusive) of the transaction history to retrieve.\
          \ If not provided, the default is the last transaction known to SnapTrade\
          \ based on `trade_date`."
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          $ref: '#/components/schemas/ReportingDate'
        style: form
      - description: An integer that specifies the starting point of the paginated
          results. Default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: An integer that specifies the maximum number of transactions
          to return. Default of 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: |
          Optional comma separated list of transaction types to filter by. SnapTrade does a best effort to categorize brokerage transaction types into a common set of values. Here are some of the most popular values:
            - `BUY` - Asset bought.
            - `SELL` - Asset sold.
            - `DIVIDEND` - Dividend payout.
            - `CONTRIBUTION` - Cash contribution.
            - `WITHDRAWAL` - Cash withdrawal.
            - `REI` - Dividend reinvestment.
            - `STOCK_DIVIDEND` - A type of dividend where a company distributes shares instead of cash
            - `INTEREST` - Interest deposited into the account.
            - `FEE` - Fee withdrawn from the account.
            - `OPTIONEXPIRATION` - Option expiration event.
            - `OPTIONASSIGNMENT` - Option assignment event.
            - `OPTIONEXERCISE` - Option exercise event.
            - `TRANSFER` - Transfer of assets from one account to another
        explode: true
        in: query
        name: type
        required: false
        schema:
          example: "BUY,SELL,DIVIDEND"
          type: string
          x-konfig-original-example: "BUY,SELL,DIVIDEND"
          x-konfig-generated-schema: konfig-generated-schema-paths--accounts-accountId-activities-get-parameters-5-schema
        style: form
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUniversalActivity'
          description: OK
        default:
          description: Unexpected error
      summary: List account activities
      tags:
      - Account Information
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-activities
      x-accepts: application/json
  /accounts/{accountId}/options:
    get:
      description: |
        Returns a list of option positions in the specified account. For stock/ETF/crypto/mutual fund positions, please use the [positions endpoint](/reference/Account%20Information/AccountInformation_getUserAccountPositions).

        The data returned here is cached. How long the data is cached for varies by brokerage. Check the [brokerage integrations doc](https://snaptrade.notion.site/66793431ad0b416489eaabaf248d0afb?v=d16c4c97b8d5438bbb2d8581ac53b11e) and look for "Cache Expiry Time" to see the exact value for a specific brokerage. **If you need real-time data, please use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint**.
      operationId: Options_listOptionHoldings
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OptionsPosition'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: List account option positions
      tags:
      - Options
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-options
      x-accepts: application/json
  /accounts/{accountId}/optionsChain:
    get:
      description: Returns the option chain for the specified symbol in the specified
        account.
      operationId: Options_getOptionsChain
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account to get the options chain from.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Universal symbol ID if symbol
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionChain'
          description: List of all Options available for the brokerage symbol
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: Get the options chain for a symbol
      tags:
      - Options
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-optionsChain
      x-accepts: application/json
  /accounts/{accountId}/optionStrategy:
    post:
      description: |
        Creates an option strategy object that will be used to place an option strategy order.
      operationId: Options_getOptionStrategy
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account to create the option strategy object in.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/OptionStrategyRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyQuotes'
          description: Order Quotes
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: Create options strategy
      tags:
      - Options
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-optionStrategy
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{accountId}/optionStrategy/{optionStrategyId}:
    get:
      description: |
        Returns a Strategy Quotes object which has latest market data of the specified option strategy.
      operationId: Options_getOptionsStrategyQuote
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account the strategy will be placed in.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Option strategy id obtained from response when creating option
          strategy object
        explode: false
        in: path
        name: optionStrategyId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyQuotes'
          description: Order Quotes
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: Get options strategy quotes
      tags:
      - Options
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-optionStrategy-optionStrategyId
      x-accepts: application/json
  /accounts/{accountId}/optionStrategy/{optionStrategyId}/execute:
    post:
      description: Places the option strategy order and returns the order record received
        from the brokerage.
      operationId: Options_placeOptionStrategy
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account to execute the strategy in.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      - description: Option strategy id obtained from response when creating option
          strategy object
        explode: false
        in: path
        name: optionStrategyId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/OrderStrategyExecuteBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyOrderRecord'
          description: Status of strategy order placed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: Place an option strategy order
      tags:
      - Options
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-optionStrategy-optionStrategyId-execute
      x-content-type: application/json
      x-accepts: application/json
  /activities:
    get:
      deprecated: true
      description: |
        This endpoint is being deprecated but will continue to be available for use via SDKs, please use [the account level endpoint](/reference/Account%20Information/AccountInformation_getAccountActivities) if possible

        Returns all historical transactions for the specified user and filtering criteria. It's recommended to use `startDate` and `endDate` to paginate through the data, as the response may be very large for accounts with a long history and/or a lot of activity. There's a max number of 10000 transactions returned per request.

        There is no guarantee to the ordering of the transactions returned. Please sort the transactions based on the `trade_date` field if you need them in a specific order.

        The data returned here is always cached and refreshed once a day.
      operationId: TransactionsAndReporting_getActivities
      parameters:
      - description: "The start date (inclusive) of the transaction history to retrieve.\
          \ If not provided, the default is the first transaction known to SnapTrade\
          \ based on `trade_date`."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          $ref: '#/components/schemas/ReportingDate'
        style: form
      - description: "The end date (inclusive) of the transaction history to retrieve.\
          \ If not provided, the default is the last transaction known to SnapTrade\
          \ based on `trade_date`."
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          $ref: '#/components/schemas/ReportingDate'
        style: form
      - description: "Optional comma separated list of SnapTrade Account IDs used\
          \ to filter the request to specific accounts. If not provided, the default\
          \ is all known brokerage accounts for the user. The `brokerageAuthorizations`\
          \ parameter takes precedence over this parameter."
        explode: true
        in: query
        name: accounts
        required: false
        schema:
          $ref: '#/components/schemas/AccountIDs'
        style: form
      - description: "Optional comma separated list of SnapTrade Connection (Brokerage\
          \ Authorization) IDs used to filter the request to only accounts that belong\
          \ to those connections. If not provided, the default is all connections\
          \ for the user. This parameter takes precedence over the `accounts` parameter."
        explode: true
        in: query
        name: brokerageAuthorizations
        required: false
        schema:
          $ref: '#/components/schemas/BrokerageAuthIDs'
        style: form
      - description: |
          Optional comma separated list of transaction types to filter by. SnapTrade does a best effort to categorize brokerage transaction types into a common set of values. Here are some of the most popular values:
            - `BUY` - Asset bought.
            - `SELL` - Asset sold.
            - `DIVIDEND` - Dividend payout.
            - `CONTRIBUTION` - Cash contribution.
            - `WITHDRAWAL` - Cash withdrawal.
            - `REI` - Dividend reinvestment.
            - `INTEREST` - Interest deposited into the account.
            - `FEE` - Fee withdrawn from the account.
            - `OPTIONEXPIRATION` - Option expiration event.
            - `OPTIONASSIGNMENT` - Option assignment event.
            - `OPTIONEXERCISE` - Option exercise event.
            - `TRANSFER` - Transfer of assets from one account to another
        explode: true
        in: query
        name: type
        required: false
        schema:
          example: "BUY,SELL,DIVIDEND"
          type: string
          x-konfig-original-example: "BUY,SELL,DIVIDEND"
          x-konfig-generated-schema: konfig-generated-schema-paths--activities-get-parameters-4-schema
        style: form
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniversalActivity'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: OK
        default:
          description: Unexpected error
      summary: Get transaction history for a user
      tags:
      - Transactions And Reporting
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--activities
      x-accepts: application/json
  /performance/custom:
    get:
      deprecated: true
      description: "Returns performance information (contributions, dividends, rate\
        \ of return, etc) for a specific timeframe. Please note that Total Equity\
        \ Timeframe and Rate of Returns are experimental features. Please contact\
        \ support@snaptrade.com if you notice any inconsistencies."
      operationId: TransactionsAndReporting_getReportingCustomRange
      parameters:
      - explode: true
        in: query
        name: startDate
        required: true
        schema:
          $ref: '#/components/schemas/ReportingDate'
        style: form
      - explode: true
        in: query
        name: endDate
        required: true
        schema:
          $ref: '#/components/schemas/ReportingDate'
        style: form
      - description: Optional comma separated list of account IDs used to filter the
          request on specific accounts
        explode: true
        in: query
        name: accounts
        required: false
        schema:
          $ref: '#/components/schemas/AccountIDs'
        style: form
      - description: "Optional, increases frequency of data points for the total value\
          \ and contribution charts if set to true"
        explode: true
        in: query
        name: detailed
        required: false
        schema:
          example: true
          type: boolean
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--performance-custom-get-parameters-3-schema
        style: form
      - description: "Optional frequency for the rate of return chart (defaults to\
          \ monthly). Possible values are daily, weekly, monthly, quarterly, yearly."
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          $ref: '#/components/schemas/ReportingFrequency'
        style: form
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceCustom'
          description: Successfully retrieved performance data
        default:
          description: Unexpected error
      summary: Get performance information for a specific timeframe
      tags:
      - Transactions And Reporting
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--performance-custom
      x-accepts: application/json
  /accounts/{accountId}/quotes:
    get:
      description: Returns quotes from the brokerage for the specified symbols and
        account. The quotes returned can be delayed depending on the brokerage the
        account belongs to. It is highly recommended that you use your own market
        data provider for real-time quotes instead of relying on this endpoint. This
        endpoint does not work for options quotes.
      operationId: Trading_getUserAccountQuotes
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: "List of Universal Symbol IDs or tickers to get quotes for. When\
          \ providing multiple values, use a comma as separator"
        explode: true
        in: query
        name: symbols
        required: true
        schema:
          type: string
        style: form
      - description: Should be set to `True` if `symbols` are comprised of tickers.
          Defaults to `False` if not provided.
        explode: true
        in: query
        name: use_ticker
        required: false
        schema:
          type: boolean
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolsQuotes'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: Get equity symbol quotes
      tags:
      - Trading
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-quotes
      x-accepts: application/json
  /trade/impact:
    post:
      description: "Simulates an order and its impact on the account. This endpoint\
        \ does not place the order with the brokerage. If successful, it returns a\
        \ `Trade` object and the ID of the object can be used to place the order with\
        \ the brokerage using the [place checked order endpoint](/reference/Trading/Trading_placeOrder).\
        \ Please note that the `Trade` object returned expires after 5 minutes. Any\
        \ order placed using an expired `Trade` will be rejected."
      operationId: Trading_getOrderImpact
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      requestBody:
        $ref: '#/components/requestBodies/ManualTradeFormRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManualTradeAndImpact'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: Forbidden
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Check equity order impact
      tags:
      - Trading
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--trade-impact
      x-content-type: application/json
      x-accepts: application/json
  /trade/{tradeId}:
    post:
      description: |
        Places the previously checked order with the brokerage. The `tradeId` is obtained from the [check order impact endpoint](/reference/Trading/Trading_getOrderImpact). If you prefer to place the order without checking for impact first, you can use the [place order endpoint](/reference/Trading/Trading_placeForceOrder).

        It's recommended to trigger a manual refresh of the account after placing an order to ensure the account is up to date. You can use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint for this.
      operationId: Trading_placeOrder
      parameters:
      - description: "Obtained from calling the [check order impact endpoint](/reference/Trading/Trading_getOrderImpact)"
        explode: false
        in: path
        name: tradeId
        required: true
        schema:
          $ref: '#/components/schemas/TradeID'
        style: simple
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      requestBody:
        $ref: '#/components/requestBodies/ValidatedTradeRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountOrderRecord'
          description: Status of order placed
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Failed to submit order to broker
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Place checked equity order
      tags:
      - Trading
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--trade-tradeId
      x-content-type: application/json
      x-accepts: application/json
  /trade/place:
    post:
      description: |
        Places a brokerage order in the specified account. The order could be rejected by the brokerage if it is invalid or if the account does not have sufficient funds.

        This endpoint does not compute the impact to the account balance from the order and any potential commissions before submitting the order to the brokerage. If that is desired, you can use the [check order impact endpoint](/reference/Trading/Trading_getOrderImpact).

        It's recommended to trigger a manual refresh of the account after placing an order to ensure the account is up to date. You can use the [manual refresh](/reference/Connections/Connections_refreshBrokerageAuthorization) endpoint for this.
      operationId: Trading_placeForceOrder
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      requestBody:
        $ref: '#/components/requestBodies/ManualTradeFormRequestBodyWithOptions'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountOrderRecord'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Trade could not be placed
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: User does not have permissions to place trades
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Place equity order
      tags:
      - Trading
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--trade-place
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{accountId}/orders/cancel:
    post:
      deprecated: true
      description: |
        **This endpoint is deprecated. Please switch to [the new cancel order endpoint](/reference/Trading/Trading_cancelOrder) **
        Attempts to cancel an open order with the brokerage. If the order is no longer cancellable, the request will be rejected.
      operationId: Trading_cancelUserAccountOrder
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CancelOrderRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountOrderRecord'
          description: Order Record of canceled order
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Unable to cancel open order. Please verify status in brokerage
            account
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: Cancel equity order
      tags:
      - Trading
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-orders-cancel
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{accountId}/trading/bracket:
    post:
      description: |
        Places a bracket order (entry order + OCO of stop loss and take profit). Disabled by default please contact support for
        use. Only supported on certain brokerages
      operationId: Trading_placeBracketOrder
      parameters:
      - description: The ID of the account to execute the trade on.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      requestBody:
        $ref: '#/components/requestBodies/ManualTradeFormRequestBodyBracket'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountOrderRecord'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Trade could not be placed
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: User does not have permissions to place trades
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Place bracket equity order
      tags:
      - Trading
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-trading-bracket
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{accountId}/trading/options:
    post:
      description: |
        Places a multi-leg option order. Only supported on certain option trading brokerages. https://snaptrade.notion.site/brokerages has information on brokerage trading support
      operationId: Trading_placeMlegOrder
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/MlegOrderRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MlegOrderResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Invalid request
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Place option order
      tags:
      - Trading
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-trading-options
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{accountId}/trading/instruments/cryptocurrencyPairs:
    get:
      description: |
        Searches cryptocurrency pairs instruments accessible to the specified account.
      operationId: Trading_searchCryptocurrencyPairInstruments
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      - explode: true
        in: query
        name: base
        required: false
        schema:
          $ref: '#/components/schemas/CryptocurrencyBaseSymbol'
        style: form
      - explode: true
        in: query
        name: quote
        required: false
        schema:
          $ref: '#/components/schemas/CryptocurrencyQuoteSymbol'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trading_searchCryptocurrencyPairInstruments_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Invalid request
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Get crypto pairs
      tags:
      - Trading
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-trading-instruments-cryptocurrencyPairs
      x-accepts: application/json
  /accounts/{accountId}/trading/instruments/cryptocurrencyPairs/{instrumentSymbol}/quote:
    get:
      description: |
        Gets a quote for the specified account.
      operationId: Trading_getCryptocurrencyPairQuote
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      - explode: false
        in: path
        name: instrumentSymbol
        required: true
        schema:
          $ref: '#/components/schemas/CryptocurrencyPairSymbol'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptocurrencyPairQuote'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Invalid request
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Get crypto pair quote
      tags:
      - Trading
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-trading-instruments-cryptocurrencyPairs-instrumentSymbol-quote
      x-accepts: application/json
  /accounts/{accountId}/trading/replace:
    post:
      description: |
        Replaces an existing pending order with a new one. The way this works is brokerage dependent, but usually involves cancelling
        the existing order and placing a new one. The order's brokerage_order_id may or may not change, be sure to use the one
        returned in the response going forward. Only supported on some brokerages
      operationId: Trading_replaceOrder
      parameters:
      - description: The ID of the account to execute the trade on.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      requestBody:
        $ref: '#/components/requestBodies/ManualTradeReplaceFormRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountOrderRecord'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Trade could not be placed
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: User does not have permissions to place trades
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Replace equity order
      tags:
      - Trading
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-trading-replace
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{accountId}/trading/cancel:
    post:
      description: |
        Cancels an order in the specified account. Accepts order IDs for all asset types.
      operationId: Trading_cancelOrder
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CancelOrderRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Invalid request
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Cancel order
      tags:
      - Trading
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-trading-cancel
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{accountId}/trading/crypto:
    post:
      description: |
        Places an order in the specified account.
        This endpoint does not compute the impact to the account balance from the order before submitting the order.
      operationId: Trading_placeCryptoOrder
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CryptoOrderRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderUpdatedResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Invalid request
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Place crypto order
      tags:
      - Trading
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-trading-crypto
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{accountId}/trading/crypto/preview:
    post:
      description: |
        Previews an order using the specified account.
      operationId: Trading_previewCryptoOrder
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CryptoOrderRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoOrderPreview'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Invalid request
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Preview crypto order
      tags:
      - Trading
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-trading-crypto-preview
      x-content-type: application/json
      x-accepts: application/json
  /snapTrade/partners:
    get:
      description: "Returns configurations for your SnapTrade Client ID, including\
        \ allowed brokerages and data access."
      operationId: ReferenceData_getPartnerInfo
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerData'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401FailedRequestResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404FailedRequestResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Get Client Info
      tags:
      - Reference Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--snapTrade-partners
      x-accepts: application/json
  /accounts/{accountId}/symbols:
    post:
      description: |
        Returns a list of Universal Symbol objects that match the given query. The matching takes into consideration both the ticker and the name of the symbol. Only the first 20 results are returned.

        The search results are further limited to the symbols supported by the brokerage for which the account is under.
      operationId: ReferenceData_symbolSearchUserAccount
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SymbolQuery'
      responses:
        "200":
          content:
            application/json:
              schema:
                description: A list of Universal Symbol objects that match the given
                  query.
                items:
                  $ref: '#/components/schemas/UniversalSymbol'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: OK
        default:
          description: Unexpected Error
      summary: Search account symbols
      tags:
      - Reference Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-symbols
      x-content-type: application/json
      x-accepts: application/json
  /brokerages:
    get:
      description: Returns a list of all defined Brokerage objects.
      operationId: ReferenceData_listAllBrokerages
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Brokerage'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: A list of all defined Brokerage objects.
        default:
          description: Unexpected error.
      summary: Get brokerages
      tags:
      - Reference Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--brokerages
      x-accepts: application/json
  /brokerages/{brokerageId}/instruments:
    get:
      description: Returns a list of all brokerage instruments available for a given
        brokerage. Not all brokerages support this. The ones that don't will return
        an empty list.
      operationId: ReferenceData_listAllBrokerageInstruments
      parameters:
      - explode: false
        in: path
        name: brokerageId
        required: true
        schema:
          $ref: '#/components/schemas/BrokerageID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrokerageInstrumentsResponse'
          description: A list of brokerage instruments.
        default:
          description: Unexpected error.
      summary: Get brokerage instruments
      tags:
      - Reference Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--brokerages-brokerageId-instruments
      x-accepts: application/json
  /brokerageAuthorizationTypes:
    get:
      description: Returns a list of all defined Brokerage authorization Type objects.
      operationId: ReferenceData_listAllBrokerageAuthorizationType
      parameters:
      - description: Comma separated value of brokerage slugs
        explode: true
        in: query
        name: brokerage
        required: false
        schema:
          example: "QUESTRADE,ALPACA"
          type: string
          x-konfig-original-example: "QUESTRADE,ALPACA"
          x-konfig-generated-schema: konfig-generated-schema-paths--brokerageAuthorizationTypes-get-parameters-0-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BrokerageAuthorizationTypeReadOnly'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: A list of all defined Brokerage Authorization Type objects.
        default:
          description: Unexpected error.
      summary: Get all brokerage authorization types
      tags:
      - Reference Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--brokerageAuthorizationTypes
      x-accepts: application/json
  /currencies:
    get:
      description: Returns a list of all defined Currency objects.
      operationId: ReferenceData_listAllCurrencies
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Currency'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: A list of all currencies.
        default:
          description: Unexpected error.
      summary: Get currencies
      tags:
      - Reference Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--currencies
      x-accepts: application/json
  /currencies/rates:
    get:
[...]
