openapi: 3.0.0
info:
  contact:
    email: api@snaptrade.com
  description: Connect brokerage accounts to your app for live positions and trading
  termsOfService: N/A
  title: SnapTrade
  version: 1.0.0
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
- description: SnapTrade Production API
  url: https://api.snaptrade.com/api/v1
security:
- PartnerSignature: []
  PartnerClientId: []
  PartnerTimestamp: []
tags:
- description: Check whether the API is operational and verify timestamps.
  name: API Status
- description: Endpoints related to terms of conditions of SnapTrade API use
  name: API Disclaimer
- description: Register and authenticate users with SnapTrade.
  name: Authentication
- description: Retrieve and manage user connections.
  name: Connections
- description: "Retrieve account information, such as positions, balances, etc."
  name: Account Information
- description: "Retrieve information on account transactions, performance, dividends,\
    \ contributions, etc."
  name: Transactions And Reporting
- description: Manage orders on user accounts
  name: Trading
- description: "Create portfolio groups, model portfolios, and trade calculations\
    \ for rebalancing."
  name: Portfolio Management
- description: "Retrieve basic information for API use, such as supported brokerages,\
    \ exchanges, currencies, etc."
  name: Reference Data
- description: Retrieve error logs for your SnapTrade users and API requests.
  name: Error Logs
- description: Endpoints to search for options prices and chains as well as place
    options trades if supported.
  name: Options
paths:
  /:
    get:
      description: Check whether the API is operational and verify timestamps.
      operationId: ApiStatus_check
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: API is alive and kicking in some fashion
        default:
          description: Unexpected error.
      security: []
      summary: Get API Status
      tags:
      - API Status
      x-accepts: application/json
  /snapTrade/acceptDisclaimer:
    post:
      operationId: APIDisclaimer_accept
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      requestBody:
        $ref: '#/components/requestBodies/SnapTradeAPIDisclaimerAcceptRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapTradeAPIDisclaimerAcceptStatus'
          description: Returns timestamp for when user accepted SnapTrade disclaimer
        "500":
          description: Unexpected Error. Please contact support
      summary: Accept or Reject SnapTrade disclaimer agreement
      tags:
      - API Disclaimer
      x-content-type: application/json
      x-accepts: application/json
  /snapTrade/listUsers:
    get:
      operationId: Authentication_listSnapTradeUsers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
          description: Successfully generated a list of users
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request. Could be caused by various reasons. Error message
            is provided in response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404FailedRequestResponse'
          description: Invalid SnapTrade Client ID provided in query
        "500":
          description: Unexpected error
      summary: Get a list of all SnapTrade users you've registered on our platform
      tags:
      - Authentication
      x-accepts: application/json
  /snapTrade/registerUser:
    post:
      operationId: Authentication_registerSnapTradeUser
      requestBody:
        $ref: '#/components/requestBodies/RegisterUserRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIDandSecret'
          description: Successfully registered user
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request. Could be caused by various reasons. Error message
            is provided in response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404FailedRequestResponse'
          description: Invalid SnapTrade Client ID provided in query
        "500":
          description: Unexpected error
      summary: Register user with SnapTrade in order to create secure brokerage authorizations
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts: application/json
  /snapTrade/deleteUser:
    delete:
      operationId: Authentication_deleteSnapTradeUser
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteUserResponse'
          description: Delete successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404FailedRequestResponse'
          description: Not Found
        "500":
          description: Unexpected Error
      summary: "Delete user from SnapTrade, disabling all brokerage authorizations\
        \ and permanently deleting all data associated with the user"
      tags:
      - Authentication
      x-accepts: application/json
  /snapTrade/login:
    post:
      operationId: Authentication_loginSnapTradeUser
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      requestBody:
        $ref: '#/components/requestBodies/SnapTradeLoginUserRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authentication_loginSnapTradeUser_200_response'
          description: Login successful. Redirect user to provided URI in response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404FailedRequestResponse'
          description: Not Found
        "500":
          description: Unexpected Error
      summary: Generate a redirect URI to securely login a user to the SnapTrade Connection
        Portal
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts: application/json
  /snapTrade/encryptedJWT:
    get:
      operationId: Authentication_getUserJWT
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/encryptedResponse'
          description: Successfully obtained encrypted JWT data. See description on
            how to object JWT token
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404FailedRequestResponse'
          description: Not Found
        "500":
          description: Unexpected Error
      summary: Obtains an encrypted JWT tokens that should be decrypted on a user's
        local device
      tags:
      - Authentication
      x-accepts: application/json
  /snapTrade/partners:
    get:
      operationId: ReferenceData_getPartnerInfo
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerData'
          description: Successfully obtained encrypted JWT data. See description on
            how to object JWT token
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401FailedRequestResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404FailedRequestResponse'
          description: Not Found
        "500":
          description: Unexpected Error
      summary: Get metadata related to Snaptrade partner
      tags:
      - Reference Data
      x-accepts: application/json
  /holdings:
    get:
      operationId: AccountInformation_getAllUserHoldings
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: Optional. Comma seperated list of authorization IDs (only use
          if filtering is needed on one or more authorizations).
        explode: true
        in: query
        name: brokerage_authorizations
        required: false
        schema:
          example: 917c8734-8470-4a3e-a18f-57c3f2ee6631
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccountHoldings'
                type: array
          description: Returns list of accounts and holdings
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: Forbidden
        "500":
          description: Unexpected Error
      summary: "List all accounts for the user, plus balances and positions for each\
        \ account."
      tags:
      - Account Information
      x-accepts: application/json
  /accounts/{accountId}/holdings:
    get:
      operationId: AccountInformation_getUserHoldings
      parameters:
      - description: The ID of the account to fetch holdings for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          example: 917c8734-8470-4a3e-a18f-57c3f2ee6631
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountHoldings'
          description: Returns holdings for the account
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: Forbidden
        "500":
          description: Unexpected Error
      summary: "List balances, positions and orders for the specified account."
      tags:
      - Account Information
      x-accepts: application/json
  /accounts:
    get:
      operationId: AccountInformation_listUserAccounts
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
          description: A list of all Account objects for the authenticated user.
        default:
          description: Unexpected error.
      summary: List all investment accounts for the user
      tags:
      - Account Information
      x-accepts: application/json
  /accounts/{accountId}:
    get:
      operationId: AccountInformation_getUserAccountDetails
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account to get detail of.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
          description: Details of a specific investment account
        default:
          description: Unexpected error
      summary: Return details of a specific investment account
      tags:
      - Account Information
      x-accepts: application/json
    put:
      operationId: AccountInformation_updateUserAccount
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account to update.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
          description: Successfully updated details of an investment account
        default:
          description: Unexpected error
      summary: Update details of an investment account
      tags:
      - Account Information
      x-accepts: application/json
  /accounts/{accountId}/balances:
    get:
      operationId: AccountInformation_getUserAccountBalance
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account get positions.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Balance'
                type: array
          description: List of all balances in investment account
        default:
          description: Unexpected error
      summary: Get all cash balances of an investment account
      tags:
      - Account Information
      x-accepts: '*/*'
  /accounts/{accountId}/positions:
    get:
      operationId: AccountInformation_getUserAccountPositions
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account get positions.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Position'
                type: array
          description: List all positions in investment account
        default:
          description: Unexpected error
      summary: Get all positions of an investment account
      tags:
      - Account Information
      x-accepts: '*/*'
  /accounts/{accountId}/orders:
    get:
      operationId: AccountInformation_getUserAccountOrders
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: defaults value is set to "all"
        explode: true
        in: query
        name: state
        required: false
        schema:
          enum:
          - all
          - open
          - executed
          type: string
        style: form
      - description: The ID of the account get positions.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccountOrderRecord'
                type: array
          description: List all orders in account
        "500":
          description: Unexpected error
      summary: Get all history of orders placed in account
      tags:
      - Account Information
      x-accepts: application/json
  /accounts/{accountId}/quotes:
    get:
      operationId: Trading_getUserAccountQuotes
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: List of universal_symbol_id or tickers to get quotes for.
        explode: true
        in: query
        name: symbols
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: Should be set to True if providing tickers.
        explode: true
        in: query
        name: use_ticker
        required: false
        schema:
          type: boolean
        style: form
      - description: The ID of the account to get quotes.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolsQuotes'
          description: Returns quotes object with different prices
        "500":
          description: Unexpected error
      summary: Get symbol quotes
      tags:
      - Trading
      x-accepts: application/json
  /accounts/{accountId}/orders/cancel:
    post:
      operationId: Trading_cancelUserAccountOrder
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account get positions.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CancelOrderRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountOrderRecord'
          description: Order Record of canceled order
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Unable to cancel open order. Please verify status in brokerage
            account
        "500":
          description: Unexpected error
      summary: Cancel open order in account
      tags:
      - Trading
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{accountId}/symbols:
    post:
      operationId: ReferenceData_symbolSearchUserAccount
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account get positions.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SymbolQuery'
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/UniversalSymbol'
                type: array
          description: Array of universal symbol supported by account based on substring
            sent it
        default:
          description: Unexpected error
      summary: Search for symbols that are supported by a brokerage account using
        a substring
      tags:
      - Reference Data
      x-content-type: application/json
      x-accepts: '*/*'
  /accounts/{accountId}/options:
    get:
      operationId: Options_listOptionHoldings
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account get positions.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionsHoldings'
          description: The option holdings in the account
        "500":
          description: Unexpected error
      summary: Get the options holdings in the account
      tags:
      - Options
      x-accepts: application/json
  /accounts/{accountId}/optionsChain:
    get:
      operationId: Options_getOptionsChain
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account get positions.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Universal symbol ID if symbol
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionChain'
          description: List of all Options available for the brokerage symbol
        "500":
          description: Unexpected error
      summary: Get the options chain
      tags:
      - Options
      x-accepts: application/json
  /accounts/{accountId}/optionStrategy:
    post:
      operationId: Options_getOptionStrategy
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account get positions.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/OptionStrategyRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyQuotes'
          description: Order Quotes
        "500":
          description: Unexpected error
      summary: Creates an option strategy object that will be used to place an option
        strategy order
      tags:
      - Options
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{accountId}/optionStrategy/{optionStrategyId}:
    get:
      operationId: Options_getOptionsStrategyQuote
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account get positions.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Option strategy id obtained from response when creating option
          strategy object
        explode: false
        in: path
        name: optionStrategyId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyQuotes'
          description: Order Quotes
        "500":
          description: Unexpected error
      summary: Get latest market data of option strategy
      tags:
      - Options
      x-accepts: application/json
  /accounts/{accountId}/optionStrategy/{optionStrategyId}/execute:
    post:
      operationId: Options_placeOptionStrategy
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account get positions.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      - description: Option strategy id obtained from response when creating option
          strategy object
        explode: false
        in: path
        name: optionStrategyId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/OrderStrategyExecuteBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyOrderRecord'
          description: Status of strategy order placed
        "500":
          description: Unexpected error
      summary: Place an option strategy order on the brokerage
      tags:
      - Options
      x-content-type: application/json
      x-accepts: application/json
  /authorizations:
    get:
      operationId: Connections_listBrokerageAuthorizations
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BrokerageAuthorization'
                type: array
          description: A list of all Authorization objects for the authenticated user.
        default:
          description: Unexpected error.
      summary: List all brokerage authorizations for the user
      tags:
      - Connections
      x-accepts: application/json
  /authorizations/{authorizationId}:
    delete:
      operationId: Connections_removeBrokerageAuthorization
      parameters:
      - description: The ID of the Authorization to delete.
        explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "204":
          description: Brokerage authorization object has been successfully deleted
        "400":
          description: The specified authorizationId is invalid (not a UUID string).
        "404":
          description: The specified authorizationId was not found.
        default:
          description: Unexpected error.
      summary: Remove a brokerage authorization.
      tags:
      - Connections
      x-accepts: application/json
    get:
      operationId: Connections_detailBrokerageAuthorization
      parameters:
      - description: The ID of a brokerage authorization object.
        explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrokerageAuthorization'
          description: Authorization object for the authenticated user.
        default:
          description: Unexpected error.
      summary: Get detail of a specific brokerage authorizations for the user
      tags:
      - Connections
      x-accepts: application/json
  /brokerages:
    get:
      operationId: ReferenceData_listAllBrokerages
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Brokerage'
                type: array
          description: A list of all defined Brokerage objects.
        default:
          description: Unexpected error.
      summary: List of all brokerages.
      tags:
      - Reference Data
      x-accepts: application/json
  /brokerageAuthorizationTypes:
    get:
      operationId: ReferenceData_listAllBrokerageAuthorizationType
      parameters:
      - description: Comma separated value of brokerage slugs
        explode: true
        in: query
        name: brokerage
        required: false
        schema:
          example: "QUESTRADE,ALPACA"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BrokerageAuthorizationTypeReadOnly'
                type: array
          description: A list of all defined Brokerage Authorization Type objects.
        default:
          description: Unexpected error.
      summary: List of all brokerage authorization types
      tags:
      - Reference Data
      x-accepts: application/json
  /currencies:
    get:
      operationId: ReferenceData_listAllCurrencies
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Currency'
                type: array
          description: A list of all supported currencies.
        default:
          description: Unexpected error.
      summary: List of all supported currencies
      tags:
      - Reference Data
      x-accepts: application/json
  /snapTrade/listUserErrors:
    get:
      operationId: ErrorLogs_listUserErrors
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UserErrorLog'
                type: array
          description: A list of all user errors for a particular user in the last
            90 days.
      summary: Retrieve error logs on behalf of your SnapTrade users
      tags:
      - Error Logs
      x-accepts: application/json
  /currencies/rates:
    get:
      operationId: ReferenceData_listAllCurrenciesRates
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ExchangeRatePairs'
                type: array
          description: A list of all exchange rates pairs for supported currencies
      summary: Return the exchange rates of all supported currencies
      tags:
      - Reference Data
      x-accepts: application/json
  /currencies/rates/{currencyPair}:
    get:
      operationId: ReferenceData_getCurrencyExchangeRatePair
      parameters:
      - description: "A currency pair based on currency code for example, {CAD-USD}"
        explode: false
        in: path
        name: currencyPair
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRatePairs'
          description: A list of all exchange rates pairs for supported currencies
      summary: Return the exchange rate of a currency pair
      tags:
      - Reference Data
      x-accepts: application/json
  /exchanges:
    get:
      operationId: ReferenceData_getStockExchanges
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Exchange'
                type: array
          description: A list of all supported stock exchanges
      summary: Return list of stock exchanges on Passiv and their suffixes
      tags:
      - Reference Data
      x-accepts: application/json
  /securityTypes:
    get:
      operationId: ReferenceData_getSecurityTypes
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SecurityType'
                type: array
          description: A list of all defined Security Type objects.
        default:
          description: Unexpected error.
      summary: List of all security types.
      tags:
      - Reference Data
      x-accepts: application/json
  /modelAssetClass:
    get:
      operationId: PortfolioManagement_listAssetClasses
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ModelAssetClassDetails'
                type: array
          description: A list of all model asset class objects for the authenticated
            user.
      summary: List of model asset class
      tags:
      - Portfolio Management
      x-accepts: application/json
    post:
      operationId: PortfolioManagement_createAssetClass
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAssetClassDetails'
          description: A new asset class is created.
      summary: Create a new model asset class
      tags:
      - Portfolio Management
      x-accepts: application/json
  /modelAssetClass/{modelAssetClassId}:
    delete:
      operationId: PortfolioManagement_deleteAssetClass
      parameters:
      - description: The ID of the model asset class to delete.
        explode: false
        in: path
        name: modelAssetClassId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      responses:
        "204":
          description: No content
      summary: Deletes a model asset class
      tags:
      - Portfolio Management
      x-accepts: application/json
    get:
      operationId: PortfolioManagement_detailAssetClass
      parameters:
      - description: The ID of the model asset class to get.
        explode: false
        in: path
        name: modelAssetClassId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAssetClassDetails'
          description: Details of a particular model asset class
      summary: Get details of a model asset class
      tags:
      - Portfolio Management
      x-accepts: application/json
    post:
      operationId: PortoflioManagement_updateAssetClass
      parameters:
      - description: The ID of the model asset class to update.
        explode: false
        in: path
        name: modelAssetClassId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelAssetClassDetails'
        description: "Use this endpoint change model asset class name and to add or\
          \ remove a model asset class target. <br /><br /> * Only the model asset\
          \ class name is required for the model asset class object. <br /> * Only\
          \ the symbol id is required for the symbol object in the model asset class\
          \ target object. <br /> * To remove all model asset class targets, set the\
          \ model asset class target as an empty array"
        required: true
      responses:
        "200":
          description: Updates model asset class with data from request body.
      summary: Updates model asset class objects
      tags:
      - Portfolio Management
      x-content-type: application/json
      x-accepts: application/json
  /modelPortfolio:
    get:
      operationId: PortfolioManagement_listModelPortfolio
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ModelPortfolioDetails'
                type: array
          description: A list of all model portfolio objects for the authenticated
            user.
      summary: List of model portfolio
      tags:
      - Portfolio Management
      x-accepts: application/json
    post:
      operationId: PortfolioManagement_createModelPortfolio
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelPortfolioDetails'
          description: A new model portfolio is created.
      summary: Creates a new model portfolio
      tags:
      - Portfolio Management
      x-accepts: application/json
  /modelPortfolio/{modelPortfolioId}:
    delete:
      operationId: PortfolioManagement_deleteModelPortfolioById
      parameters:
      - description: The ID of the model portfolio to delete.
        explode: false
        in: path
        name: modelPortfolioId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      responses:
        "204":
          description: No content
      summary: Deletes a model portfolio
      tags:
      - Portfolio Management
      x-accepts: application/json
    get:
      operationId: PortfolioManagement_getModelDetailsById
      parameters:
      - description: The ID of the model portfolio to get.
        explode: false
        in: path
        name: modelPortfolioId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelPortfolioDetails'
          description: Details of a particular model portfolio.
      summary: Get details of a model portfolio
      tags:
      - Portfolio Management
      x-accepts: application/json
    post:
      operationId: PortfolioManagement_modifyModelPortfolioById
      parameters:
      - description: The ID of the model portfolio to update.
        explode: false
        in: path
        name: modelPortfolioId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelPortfolioDetails'
        description: "Use this endpoint change model asset class name and to add or\
          \ remove a model portfolio security/model portfolio asset class. <br /><br\
          \ /> * The model portfolio name and model portfolio model type is required.\
          \ <br /> * The model portfolio model type must be either 0 or 1. [0 -> Securities\
          \ based, 1 -> Asset Class based] <br /><br /> * If the model portfolio type\
          \ is 0, the model portfolio asset class must be an empty array. <br /> *\
          \ If the model portfolio type is 1, the model portfolio security must be\
          \ an empty array. <br /><br /> * When updating the model portfolio security,\
          \ the percent is required. Only the symbol id is required for the symbol\
          \ object <br /> * When updating the model portfolio asset classes, the percent\
          \ is required. Only the model asset class id is required for the model asset\
          \ class object <br /><br /> * To remove all model portfolio securities or\
          \ model portfolio asset class, set then to an empty array"
        required: true
      responses:
        "200":
          description: Updates model portfolio object with data from request body.
      summary: Updates model portfolio object
      tags:
      - Portfolio Management
      x-content-type: application/json
      x-accepts: application/json
  /portfolioGroups:
    get:
      operationId: PortfolioManagement_list
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PortfolioGroup'
                type: array
          description: A list of all PortfolioGroup objects for the authenticated
            user.
        default:
          description: Unexpected error.
      summary: List all portfolio groups
      tags:
      - Portfolio Management
      x-accepts: application/json
    post:
      operationId: PortfolioManagement_create
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      requestBody:
        $ref: '#/components/requestBodies/PortfolioGroup'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PortfolioGroup'
                type: array
          description: A new PortfolioGroup is created.
        "400":
          description: The input data is missing or invalid.
        default:
          description: Unexpected error.
      summary: Create new portfolio group
      tags:
      - Portfolio Management
      x-content-type: application/json
      x-accepts: application/json
  /portfolioGroups/{portfolioGroupId}:
    delete:
      operationId: PortfolioManagement_deletePortfoli
      parameters:
      - description: The ID of the PortfolioGroup to delete.
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioGroup'
          description: The PortfolioGroup object which was deleted.
        "400":
          description: The specified portfolioGroupId is invalid (not a UUID string).
        "404":
          description: The specified portfolioGroupId was not found.
        default:
          description: Unexpected error.
      summary: Remove a target portfolio.
      tags:
      - Portfolio Management
      x-accepts: application/json
    get:
      operationId: PortfolioManagement_getPortfolioDetailsById
      parameters:
      - description: The ID of the PortfolioGroup to get.
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PortfolioGroup'
          description: Successfully gets a target portfolio
        default:
          description: Unexpected error
      summary: Get details of a target portfolio
      tags:
      - Portfolio Management
      x-accepts: '*/*'
    patch:
      operationId: PortfolioManagement_savePortfolio
      parameters:
      - description: The ID of the PortfolioGroup to update.
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PortfolioGroup'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioGroup'
          description: The PortfolioGroup object which was updated.
        "400":
          description: The specified portfolioGroupId is invalid (not a UUID string)
            or the input data is invalid.
        "404":
          description: The specified portfolioGroupId was not found.
        default:
          description: Unexpected error.
      summary: Update an existing target portfolio.
      tags:
      - Portfolio Management
      x-content-type: application/json
      x-accepts: application/json
  /portfolioGroups/{portfolioGroupId}/accounts:
    get:
      operationId: PortfolioManagment_listPortfolioAccounts
      parameters:
      - description: The ID of the PortfolioGroup under which the accounts are linked.
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
          description: Accounts linked to portfolio group
        default:
          description: Unexpected error
      summary: Get all accounts associated with a portfolio group
      tags:
      - Portfolio Management
      x-accepts: application/json
  /portfolioGroups/{portfolioGroupId}/balances:
    get:
      operationId: PortfolioManagement_getPortfolioBalances
      parameters:
      - description: The ID of the PortfolioGroup under which to create the target
          asset.
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Balance'
                type: array
          description: Sum of cash balances across accounts in portfolio group by
            currency
        "400":
          description: The specified portfolioGroupId is invalid (not a UUID string)
            or the input data is invalid.
        "404":
          description: The specified portfolioGroupId was not found.
        default:
          description: Unexpected error.
      summary: Get sum of cash balances in portfolio group
      tags:
      - Portfolio Management
      x-accepts: application/json
  /portfolioGroups/{portfolioGroupId}/calculatedtrades:
    get:
      operationId: PortfolioManagement_listCalculatedTrades
      parameters:
      - description: The ID of the PortfolioGroup to perform rebalancing calculations
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculatedTrade'
          description: Calculated trades to make
      summary: List of trades to make to rebalance portfolio group
      tags:
      - Portfolio Management
      x-accepts: application/json
  /portfolioGroups/{portfolioGroupId}/calculatedtrades/{calculatedTradeId}/{TradeId}:
    get:
      operationId: PortfolioManagement_getCalculatedTradeById
      parameters:
      - description: The ID of the PortfolioGroup to perform rebalancing calculations
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of calculated trade to get account impact
        explode: false
        in: path
        name: calculatedTradeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of trade object
        explode: false
        in: path
        name: TradeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Trade'
                type: array
          description: Trade objects
      summary: Return an individual trade
      tags:
      - Portfolio Management
      x-accepts: application/json
  /portfolioGroups/{portfolioGroupId}/calculatedtrades/{calculatedTradeId}/impact:
    get:
      operationId: Trading_getCalculatedTradesImpact
      parameters:
      - description: The ID of the PortfolioGroup to perform rebalancing calculations
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of calculated trade to get account impact
        explode: false
        in: path
        name: calculatedTradeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TradeImpact'
                type: array
          description: Impact of trades to make
      summary: Return the impact of placing a series of trades on the portfolio
      tags:
      - Trading
      x-accepts: application/json
  /portfolioGroups/{portfolioGroupId}/calculatedtrades/{calculatedTradeId}/modify/{tradeId}:
    get:
      operationId: Trading_getCalculatedTradeImpactById
      parameters:
      - description: The ID of the PortfolioGroup to perform rebalancing calculations
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of calculated trade to get account impact
        explode: false
        in: path
        name: calculatedTradeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of trade object
        explode: false
        in: path
        name: tradeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trade'
          description: Trade object
      summary: Return details of a specific trade before it's placed
      tags:
      - Trading
      x-accepts: application/json
    patch:
      operationId: Trading_modifyCalculatedTradeById
      parameters:
      - description: The ID of the PortfolioGroup to perform rebalancing calculations
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of calculated trade to get account impact
        explode: false
        in: path
        name: calculatedTradeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of trade object
        explode: false
        in: path
        name: tradeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Trade'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trade'
          description: Modified trade object
      summary: Modify units of a trade before it is placed
      tags:
      - Trading
      x-content-type: application/json
      x-accepts: application/json
  /portfolioGroups/{portfolioGroupId}/calculatedtrades/{calculatedTradeId}/placeOrders:
    post:
      operationId: Trading_placeCalculatedTrades
      parameters:
      - description: The ID of the PortfolioGroup to perform rebalancing calculations
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of calculated trade to get account impact
        explode: false
        in: path
        name: calculatedTradeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TradeExecutionStatus'
                type: array
          description: Return trade execution statuses for all trades submitted
      summary: Place orders for the CalculatedTrades in series
      tags:
      - Trading
      x-accepts: application/json
  /portfolioGroups/{portfolioGroupId}/excludedassets:
    get:
      operationId: PortfolioManagement_getPortoflioExcludedAssets
      parameters:
      - description: The ID of the PortfolioGroup under which the excluded assets
          are linked.
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ExcludedAsset'
                type: array
          description: Array of excluded assets linked to portfolio group
        default:
          description: Unexpected error
      summary: Get an array of excluded assets associated with a portfolio group\
      tags:
      - Portfolio Management
      x-accepts: application/json
    post:
      operationId: PortfolioManagement_addPortfolioExcludedAsset
      parameters:
      - description: The ID of the PortfolioGroup under which to exclude an asset.
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UniversalSymbol'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExcludedAsset'
          description: An asset is excluded from calculations in portfolio group.
      summary: Adds an asset to exclude to a portfolio group
      tags:
      - Portfolio Management
      x-content-type: application/json
      x-accepts: application/json
  /portfolioGroups/{portfolioGroupId}/excludedassets/{symbolId}:
    delete:
      operationId: PortfolioManagement_deleteExcludedAsset
      parameters:
      - description: The ID of the PortfolioGroup under which to unexclude an asset.
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the excluded asset Symbol to delete.
        explode: false
        in: path
        name: symbolId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Excluded asset deleted
      summary: Unexclude an asset from a portfolio group
      tags:
      - Portfolio Management
      x-accepts: application/json
  /portfolioGroups/{portfolioGroupId}/import:
    post:
      operationId: PortfolioManagement_importModelPortfolio
      parameters:
      - description: The ID of the PortfolioGroup under which to create the target
          asset.
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TargetAsset'
                type: array
          description: Portfolio group target allocation has been updated
        default:
          description: Unexpected error.
      summary: Import target allocation based on portfolio group
      tags:
      - Portfolio Management
      x-accepts: application/json
  /portfolioGroups/{portfolioGroupId}/info:
    get:
      operationId: PortfolioManagement_getPortfolioInfo
      parameters:
      - description: The ID of the PortfolioGroup under which to create the target
          asset.
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioGroupInfo'
          description: Portfolio group target allocation has been updated
        default:
          description: Unexpected error.
      summary: Return a whole bunch of relevant information relating to a portfolio
        group.
      tags:
      - Portfolio Management
      x-accepts: application/json
  /portfolioGroups/{portfolioGroupId}/positions:
    get:
      operationId: PortfolioManagement_getPortfolioPositions
      parameters:
      - description: The ID of the PortfolioGroup under which to create the target
          asset.
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PortfolioGroupPosition'
                type: array
          description: Totals of each postions owned in portfolio group
        "400":
          description: The specified portfolioGroupId is invalid (not a UUID string)
            or the input data is invalid.
        "404":
          description: The specified portfolioGroupId was not found.
        default:
          description: Unexpected error.
      summary: Get total of each postions owned in portfolio group
      tags:
      - Portfolio Management
      x-accepts: application/json
  /portfolioGroups/{portfolioGroupId}/settings:
    get:
      operationId: PortfolioManagement_getPortfolioSettings
      parameters:
      - description: The ID of the PortfolioGroup under which to get the settings.
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioGroupSettings'
          description: Settings of portfolio group
        default:
          description: Unexpected error
      summary: Get portfolio group settings
      tags:
      - Portfolio Management
      x-accepts: application/json
    patch:
      operationId: PortfolioManagement_updatePortfolioSettings
      parameters:
      - description: The ID of the PortfolioGroup under which to patch the settings.
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PortfolioGroupSettings'
          description: Settings of portfolio group
        default:
          description: Unexpected error
      summary: Updates portfolio group settings
      tags:
      - Portfolio Management
      x-accepts: '*/*'
  /portfolioGroups/{portfolioGroupId}/symbols:
    post:
      operationId: PortfolioManagement_searchPortfolioSymbols
      parameters:
      - description: The ID of the PortfolioGroup to search under
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SymbolQuery'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniversalSymbol'
                type: array
          description: A list of UniversalSymbol objects which match the specified
            substring
        default:
          description: Unexpected error.
      summary: Search for symbols limited to brokerages under the specified portfolio
        group
      tags:
      - Portfolio Management
      x-content-type: application/json
      x-accepts: application/json
  /portfolioGroups/{portfolioGroupId}/targets:
    get:
      operationId: PortfolioManagement_getPortfolioTargets
      parameters:
      - description: The ID of the PortfolioGroup under which to create the target
          asset.
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TargetAsset'
                type: array
          description: All target assets owned by the specified PortfolioGroup.
        "400":
          description: The specified portfolioGroupId is invalid (not a UUID string)
            or the input data is invalid.
        "404":
          description: The specified portfolioGroupId was not found.
        default:
          description: Unexpected error.
      summary: Get all target assets under the specified PortfolioGroup.
      tags:
      - Portfolio Management
      x-accepts: application/json
    post:
      operationId: PortfolioManagement_setPortfolioTargets
      parameters:
      - description: The ID of the PortfolioGroup under which to create the target
          asset.
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetAssetList'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetAssetList'
          description: A new target asset or set of target assets is created.
        "400":
          description: The specified portfolioGroupId is invalid (not a UUID string)
            or the input data is invalid.
        "404":
          description: The specified portfolioGroupId was not found.
        default:
          description: Unexpected error.
      summary: Set a new list of target assets under the specified PortfolioGroup.
        All existing target assets under this portfolio group will be replaced with
        the new list.
      tags:
      - Portfolio Management
      x-content-type: application/json
      x-accepts: application/json
  /portfolioGroups/{portfolioGroupId}/targets/{targetAssetId}:
    delete:
      operationId: PortfolioManagement_deletePortfolioTargetById
      parameters:
      - description: The ID of the PortfolioGroup under which to remove the target
          asset.
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the TargetAsset to delete.
        explode: false
        in: path
        name: targetAssetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetAsset'
          description: The TargetAsset object which was deleted.
        "400":
          description: The specified portfolioGroupId or targetAssetId is invalid
            (not a UUID string) or the input data is invalid.
        "404":
          description: The specified portfolioGroupId or targetAssetId was not found.
        default:
          description: Unexpected error.
      summary: Remove a TargetAsset.
      tags:
      - Portfolio Management
      x-accepts: application/json
    get:
      operationId: PortfolioManagement_getPortfolioTargetById
      parameters:
      - description: The ID of the PortfolioGroup under which to get the target asset.
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the TargetAsset to get.
        explode: false
        in: path
        name: targetAssetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TargetAsset'
          description: Successfully get target asset.
        default:
          description: Unexpected errors
      summary: Get a specific target from a portfolio group
      tags:
      - Portfolio Management
      x-accepts: '*/*'
    patch:
      operationId: PortfolioManagement_updatePortfolioTargetById
      parameters:
      - description: The ID of the PortfolioGroup under which to patch the target
          asset.
        explode: false
        in: path
        name: portfolioGroupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the TargetAsset to patch.
        explode: false
        in: path
        name: targetAssetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TargetAsset'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetAsset'
          description: The target asset is updated.
        "400":
          description: The specified portfolioGroupId or targetAssetId is invalid
            (not a UUID string) or the input data is invalid.
        "404":
          description: The specified portfolioGroupId or targetAssetId was not found.
        default:
          description: Unexpected error.
      summary: Update a TargetAsset under the specified PortfolioGroup.
      tags:
      - Portfolio Management
      x-content-type: application/json
      x-accepts: application/json
  /symbols:
    post:
      operationId: ReferenceData_getSymbols
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SymbolQuery'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniversalSymbol'
                type: array
          description: A list of UniversalSymbol objects which match the specified
            substring
        default:
          description: Unexpected error.
      summary: Search for symbols
      tags:
      - Reference Data
      x-content-type: application/json
      x-accepts: application/json
  /symbols/{ticker}:
    get:
      operationId: ReferenceData_getSymbolsByTicker
      parameters:
      - description: The ticker of the UniversalSymbol to get.
        explode: false
        in: path
        name: ticker
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: OPTIONAL IN PATH Can be used instead of the ticker ; The ID of
          the UniversalSymbol to get.
        explode: true
        in: query
        name: symbolId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UniversalSymbol'
          description: Successfully gets a symbol
        "404":
          description: No symbol with the specified ticker found.
        default:
          description: Unexpected error
      summary: Get details of a symbol by the ticker
      tags:
      - Reference Data
      x-accepts: '*/*'
  /trade/place:
    post:
      operationId: Trading_placeForceOrder
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      requestBody:
        $ref: '#/components/requestBodies/ManualTradeFormRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountOrderRecord'
          description: Trade sucessfully placed
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Trade could not be placed
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: User does not have permissions to place trades
        "500":
          description: Unexpected Error
      summary: Place a trade with NO validation.
      tags:
      - Trading
      x-content-type: application/json
      x-accepts: application/json
  /trade/impact:
    post:
      operationId: Trading_getOrderImpact
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      requestBody:
        $ref: '#/components/requestBodies/ManualTradeFormRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManualTradeAndImpact'
          description: Return trade object and it's impact on the account
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Missing or wrong data format provided in request body
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: User does not have permissions to place trades
        "500":
          description: Unexpected Error
      summary: Check impact of trades on account.
      tags:
      - Trading
      x-content-type: application/json
      x-accepts: application/json
  /trade/{tradeId}:
    post:
      operationId: Trading_placeOrder
      parameters:
      - description: The ID of trade object obtained from trade/impact endpoint
        explode: false
        in: path
        name: tradeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountOrderRecord'
          description: Status of order placed
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Failed to submit order to broker
        "500":
          description: Unexpected Error
      summary: Place order
      tags:
      - Trading
      x-accepts: application/json
  /trade/oco:
    post:
      operationId: Trading_placeOCOOrder
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      requestBody:
        $ref: '#/components/requestBodies/OCORequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountOrderRecord'
          description: Status of order placed
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Failed to submit order to broker
        "500":
          description: Unexpected Error
      summary: Place a OCO (One Cancels Other) order
      tags:
      - Trading
      x-content-type: application/json
      x-accepts: application/json
  /activities:
    get:
      description: Returns activities (transactions) for a user. Specifing start and
        end date is highly recommended for automatic calls for better performance
      operationId: TransactionsAndReporting_getActivities
      parameters:
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          $ref: '#/components/schemas/ReportingDate'
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          $ref: '#/components/schemas/ReportingDate'
        style: form
      - description: Optional comma seperated list of account IDs used to filter the
          request on specific accounts
        explode: true
        in: query
        name: accounts
        required: false
        schema:
          $ref: '#/components/schemas/AccountIDs'
        style: form
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniversalActivity'
                type: array
          description: Successfully retrieved transaction history
        default:
          description: Unexpected error
      summary: Get transaction history for a user
      tags:
      - Transactions And Reporting
      x-accepts: application/json
  /performance/custom:
    get:
      description: "Returns performance information (contributions, dividends, rate\
        \ of return, etc) for a specific timeframe. Total Equity Timeframe and Rate\
        \ of Returns are experimental and should not be trusted to be 100% accurate"
      operationId: TransactionsAndReporting_getReportingCustomRange
      parameters:
      - explode: true
        in: query
        name: startDate
        required: true
        schema:
          $ref: '#/components/schemas/ReportingDate'
        style: form
      - explode: true
        in: query
        name: endDate
        required: true
        schema:
          $ref: '#/components/schemas/ReportingDate'
        style: form
      - description: Optional comma seperated list of account IDs used to filter the
          request on specific accounts
        explode: true
        in: query
        name: accounts
        required: false
        schema:
          $ref: '#/components/schemas/AccountIDs'
        style: form
      - description: "Optional, increases frequency of data points for the total value\
          \ and contribution charts if set to true"
        explode: true
        in: query
        name: detailed
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: "Optional frequency for the rate of return chart (defaults to\
          \ monthly). Possible values are daily, weekly, monthly, quarterly, yearly."
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          $ref: '#/components/schemas/ReportingFrequency'
        style: form
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceCustom'
          description: Successfully retrieved performance data
        default:
          description: Unexpected error
      summary: Get performance information for a specific timeframe
      tags:
      - Transactions And Reporting
      x-accepts: application/json
components:
  requestBodies:
    RegisterUserRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SnapTradeRegisterUserRequestBody'
      required: true
    SnapTradeLoginUserRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SnapTradeLoginUserRequestBody'
    LoginRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserIDandSecret'
      required: true
    DeleteUserRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserIDandSecret'
      required: true
    RedeemTokenRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RedirectTokenandPin'
      required: true
    PortfolioGroup:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortfolioGroup'
      required: true
    TargetAsset:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TargetAsset'
      required: true
    ManualTradeFormRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ManualTradeForm'
      required: true
    CancelOrderRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Id'
      required: true
    OCORequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Trading_placeOCOOrder_request'
      required: true
    OptionStrategyRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Options_getOptionStrategy_request'
      required: true
    OrderStrategyExecuteBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Options_placeOptionStrategy_request'
      required: true
    SnapTradeAPIDisclaimerAcceptRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIDisclaimer_accept_request'
      required: true
  schemas:
    "400FailedRequestResponse":
      additionalProperties: true
      description: Example for failed request response
      properties:
        default_detail:
          example: Unable to verify data sent
        default_code:
          example: 1076
      type: object
    "401FailedRequestResponse":
      additionalProperties: true
      description: Example for failed request response
      properties:
        default_detail:
          example: Unable to verify signature sent
        default_code:
          example: 1076
      type: object
    "403FailedRequestResponse":
      additionalProperties: true
      description: Example for failed request response
      properties:
        default_detail:
          example: User does not have permission to access this resource
        default_code:
          example: 1066
      type: object
    "404FailedRequestResponse":
      additionalProperties: true
      description: Example for failed request response
      properties:
        default_detail:
          example: The requested resource does not exist.
        default_code:
          example: 1011
      type: object
    CashRestriction:
      additionalProperties: true
      description: Cash restriction rules that apply to this account when undergoing
        portfolio rebalance calculations.
      example:
        amount: 100
        currency: 2bcd7cc3-e922-4976-bce1-9858296801c3
        id: 2bcd7cc3-e922-4976-bce1-9858296801c3
        type: ALLOCATE_MAX
        account: 2bcd7cc3-e922-4976-bce1-9858296801c3
      properties:
        id:
          example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          format: uuid
          type: string
        account:
          example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          format: uuid
          type: string
        currency:
          example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          format: uuid
          type: string
        type:
          enum:
          - ALLOCATE_MAX
          - RETAIN_MIN
          type: string
        amount:
          example: 100
          type: number
      type: object
    Account:
      additionalProperties: true
      description: SnapTradeUser Investment Account
      example:
        number: Q6542138443
        brokerage_authorization: 2bcd7cc3-e922-4976-bce1-9858296801c3
        meta:
          type: Margin
          status: ACTIVE
          institution_name: Alpaca
        name: Registered Retirement Savings Account
        id: 2bcd7cc3-e922-4976-bce1-9858296801c3
        portfolio_group: 2bcd7cc3-e922-4976-bce1-9858296801c3
        created_date: 2021-06-04T16:26:46.523Z
        institution_name: Alpaca
        cash_restrictions:
        - amount: 100
          currency: 2bcd7cc3-e922-4976-bce1-9858296801c3
          id: 2bcd7cc3-e922-4976-bce1-9858296801c3
          type: ALLOCATE_MAX
          account: 2bcd7cc3-e922-4976-bce1-9858296801c3
        - amount: 100
          currency: 2bcd7cc3-e922-4976-bce1-9858296801c3
          id: 2bcd7cc3-e922-4976-bce1-9858296801c3
          type: ALLOCATE_MAX
          account: 2bcd7cc3-e922-4976-bce1-9858296801c3
      properties:
        id:
          example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          format: uuid
          type: string
        brokerage_authorization:
          example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          format: uuid
          type: string
        portfolio_group:
          example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          format: uuid
          type: string
        name:
          example: Registered Retirement Savings Account
          type: string
        number:
          example: Q6542138443
          type: string
        institution_name:
          example: Alpaca
          type: string
        created_date:
          example: 2021-06-04T16:26:46.523Z
          type: string
        meta:
          additionalProperties: true
          example:
            type: Margin
            status: ACTIVE
            institution_name: Alpaca
          type: object
        cash_restrictions:
          items:
            $ref: '#/components/schemas/CashRestriction'
          type: array
      type: object
    AccountSimple:
      additionalProperties: true
      description: SnapTradeUser Investment Account
      example:
        number: Q6542138443
        name: Registered Retirement Savings Account
        id: 2bcd7cc3-e922-4976-bce1-9858296801c3
      properties:
        id:
          example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          format: uuid
          type: string
        name:
          example: Registered Retirement Savings Account
          type: string
        number:
          example: Q6542138443
          type: string
      type: object
    AccountIDs:
      description: Comma seperated list of account IDs
      example: "917c8734-8470-4a3e-a18f-57c3f2ee6631,65e839a3-9103-4cfb-9b72-2071ef80c5f2"
      type: string
    AccountHoldings:
      additionalProperties: true
      description: Account Holdings
      example:
        total_value:
          currency: USD
          value: 32600.71
        balances:
        - currency:
            code: USD
            name: US Dollar
            id: 87b24961-b51e-4db8-9226-f198f6518a89
          cash: 300.71
        - currency:
            code: USD
            name: US Dollar
            id: 87b24961-b51e-4db8-9226-f198f6518a89
          cash: 300.71
        positions:
        - symbol:
            is_quotable: true
            symbol:
              symbol: VAB.TO
              raw_symbol: VAB
              description: VANGUARD CDN AGGREGATE BOND INDEX ETF
              currency:
                code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
              exchange:
                start_time: 09:30:00
                mic_code: XTSE
                code: TSX
                timezone: America/New_York
                name: Toronto Stock Exchange
                id: 2bcd7cc3-e922-4976-bce1-9858296801c3
                close_time: "57600"
                suffix: .TO
              id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              type:
                is_supported: true
                code: et
                description: ETF
                id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              currencies:
              - code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
              - code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
            is_tradable: true
            local_id: "3291231"
            description: VANGUARD CDN AGGREGATE BOND INDEX ETF
            id: 2bcd7cc3-e922-4976-bce1-9858296801c3
          fractional_units: 1.44
          price: 113.15
          open_pnl: 0.44
          units: 40
          average_purchase_price: 108.3353
        - symbol:
            is_quotable: true
            symbol:
              symbol: VAB.TO
              raw_symbol: VAB
              description: VANGUARD CDN AGGREGATE BOND INDEX ETF
              currency:
                code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
              exchange:
                start_time: 09:30:00
                mic_code: XTSE
                code: TSX
                timezone: America/New_York
                name: Toronto Stock Exchange
                id: 2bcd7cc3-e922-4976-bce1-9858296801c3
                close_time: "57600"
                suffix: .TO
              id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              type:
                is_supported: true
                code: et
                description: ETF
                id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              currencies:
              - code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
              - code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
            is_tradable: true
            local_id: "3291231"
            description: VANGUARD CDN AGGREGATE BOND INDEX ETF
            id: 2bcd7cc3-e922-4976-bce1-9858296801c3
          fractional_units: 1.44
          price: 113.15
          open_pnl: 0.44
          units: 40
          average_purchase_price: 108.3353
        account:
          number: Q6542138443
          brokerage_authorization:
            brokerage:
              maintenance_mode: true
              allows_fractional_units: true
              exchanges:
              - 2bcd7cc3-e922-4976-bce1-9858296801c3
              - 4bcd8cc3-c122-4974-dc21-1858296801f4
              description: Questrade is GREAT!
              display_name: Questrade
              url: https://www.questrade.com/
              enabled: true
              allows_trading: true
              has_reporting: true
              is_real_time_connection: true
              name: Questrade
              allows_trading_through_snaptrade_api: true
              id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              default_currency: 2bcd7cc3-e922-4976-bce1-9858296801c3
              brokerage_type:
                name: Traditional Brokerage
                id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              aws_s3_logo_url: https://www.passiv.com/questrade.logo
              slug: QUESTRADE
              is_scraping_integration: true
            disabled_date: 2022-01-21T20:11:19.217Z
            meta:
              identifier: 123456
            name: Connection-1
            disabled: false
            id: 2bcd7cc3-e922-4976-bce1-9858296801c3
            created_date: 2022-01-21T20:11:19.217Z
            updated_date: 2022-01-21T20:11:19.217Z
            type: trade
          meta:
            type: Margin
            status: ACTIVE
            institution_name: Alpaca
          name: Registered Retirement Savings Account
          id: 2bcd7cc3-e922-4976-bce1-9858296801c3
          portfolio_group: 2bcd7cc3-e922-4976-bce1-9858296801c3
          institution_name: Alpaca
      properties:
        account:
          $ref: '#/components/schemas/SnapTradeHoldingsAccount'
        balances:
          items:
            $ref: '#/components/schemas/Balance'
          type: array
        positions:
          items:
            $ref: '#/components/schemas/Position'
          type: array
        total_value:
          $ref: '#/components/schemas/SnapTradeHoldingsTotalValue'
      type: object
    AccountOrderRecord:
      additionalProperties: true
      description: Record of order in brokerageaccount
      example:
        symbol: 2bcd7cc3-e922-4976-bce1-9858296801c3
        time_placed: 2022-01-21T20:11:19.217Z
        expiry_date: 2022-01-21T20:11:19.217Z
        brokerage_order_id: brokerage_order_id
        limit_price: 31.33
[...]
